[2022-04-25 12:55] ekes opened #1 "Automate default permissions when content type added to a group"
When (recognised/supported) content types are added to the system (module enabled) they are added to the microsites group type. The permissions for these by default are zero however.

We want to add permissions for these content types. These are the permissions added for subsite_overview and subsite_page for the (present) default roles:-

[code]

[2022-04-25 16:18] markconroy opened #2 "Add header fields for POC"

[2022-04-26 08:20] #2 closed, assigned to nobody

[2022-04-26 14:30] markconroy opened #4 "Temporarily add placeholder view/blocks to force rendering regions"
If there are no blocks in a region, the region doens't render. This adds a placeholder view to render basically nothing except the region itself, so we can work on theming it.

[2022-05-04 13:59] markconroy opened #6 "Add default styleguide fields and vertical tabs to Group"

[2022-05-04 14:00] markconroy opened #7 "Should footer text blocks use wysiwyg?"
I think they should, so editors can more easily add in links, lists, etc for footer menus.

[2022-05-05 13:56] stephen-cox opened #9 "Add page content type as group plugin and remove subites"

[2022-05-06 08:08] ekes opened #11 "Add microsite 'type' to group type"
For the overview: /admin/microsites; and the add process /admin/microsites/add /admin/microsites/add/{group_type} they should be constrained to groups that are somehow flagged as being 'microsite' group types. Presently there is just one and it's hard coded in places (like the menu action, the view).

[2022-05-06 08:10] ekes opened #12 "Microsites listing page, show more information about microsite (join group domain config to group for view)"
Can we add a relation so that group domain config can be pulled up in the group base view. For /admin/microsites would add the ability to add the URL or Homepage for example.

[2022-05-06 08:11] ekes opened #13 "Create Microsite Wizard: Create first site page"
Does this mean we _always_ enable the page content type?

Down the line should what initial page is created (like a directory as alternative) be configurable.

[2022-05-06 08:12] ekes opened #14 "Create Microsites Wizard: Select which content types are enabled"
Blocked on having more content types for now.

[2022-05-06 10:56] #9 closed, assigned to nobody

[2022-05-06 11:12] #6 closed, assigned to nobody

[2022-05-06 12:47] ekes opened #15 "Create Microsites Wizard: Configurable domain group settings."
[For sprint 5+]

Which plugin, and fields are show on the domain settings are hard coded, could be made configurable.

As part of the wizard form, we want to be able to offer some further configuration options to allow the microsites controller to decide:
 - which content types are available
 - what permissions are being deployed

[2022-05-06 13:28] ekes opened #17 "Set permissions for Page content type"
Follow-up to https://github.com/localgovdrupal/localgov_microsites_group/pull/10

Should set the default permissions for the group type for the content
https://localgov-micro.lndo.site/admin/group/types/manage/microsite/permissions

[2022-05-06 13:51] ekes opened #18 "Add PHPunit (functional) tests for microsites creation wizard"
Need to step through the form every which way - with different group type settings for membership.

[2022-05-06 14:10] ekes opened #20 "Content types automation"
Follow-up to #17 and related #13
#14 also related would enabling the content types when creating the group they'd still need permissions:-

Even if we are assuming a dependency on localgov_page in which case #17 and #13 can stay as is. We do want to react on new content types being added to a group. For example including default permissions to view, create etc. the content type in the group.

[2022-05-06 14:15] ekes opened #22 "Consistent use of the admin theme"
All actions in the group want to be defined as administration and use the admin theme. Just viewing content that is outside.

[2022-05-06 14:30] ekes opened #23 "GroupContent as the site content; or Node"
The GroupContent (a content relation between the group and its content - in this case Node) at the moment is just that, and displays only the title. The content that is used for the site is the node itself. This is also set for the permissions (note #20) so the node is visible to the anonymous user.

Discussion:-

It is possible to load and display the Node on the GroupContent and make this the 'c

[2022-05-09 10:52] markconroy commented on #23
@ekes to get more than just the title to display, you need to go to
Groups > Microsites > Content > Page > Manage Display > Title

And set "Title" as "rendered entity", and choose view mode "Full".

There wasn't any major issue with theming. One issue we had was that since we (the university site I was working on) have our page titles inside our full view mode templates for semantics, the page tit

[2022-05-09 11:43] ekes opened #25 "Login to microsite domain redirect to microsite group overview"
We want anyone who logs into a microsite to be redirected to the main dashboard for that microsite, not end up on their user page.

### Acceptance tests:

- [ ] Log in to microsite as a microsite admin or microsite editor
- [ ] Be redirected to the microsite dashboard.

[2022-05-09 11:55] ekes opened #26 "Admin (default) permissions"
We need to confirm that the 'microsite admin' has the correct permissions in the microsite when created.

### Acceptance tests:

1. Log into a microsite as the microsite admin
2. Be able to edit the configuration of design
3. be able to manage content.
4. Not see anything else they don't want to see.

[2022-05-09 16:02] ekes opened #27 "'Users' (group members) and 'Content' (group nodes) views"
On profile install the 'members' and 'nodes' views for a group
https://git.drupalcode.org/project/group/-/blob/8.x-1.x/config/optional/views.view.group_members.yml
https://git.drupalcode.org/project/group/-/blob/8.x-1.x/modules/gnode/config/optional/views.view.group_nodes.yml
aren't getting installed

Note:

 @ekes is thinking that we should create our own views for user and content listing and en

[2022-05-10 09:45] ekes commented on #11
https://github.com/localgovdrupal/localgov_microsites_group/issues/22 added the code to give domain groups classes. https://www.drupal.org/project/3278349/issues/3279658 would make it easiest.

[2022-05-10 10:25] ekes opened #28 "Controller role"
Create the role and set sensible default permissions!

Acceptance tests:

- [x] Log in as a 'Microsites controller'
- [x] See just the things I need to see (just user management and microsites management)

[2022-05-10 11:10] richard-s-rowley opened #29 "Decide on font options"

[2022-05-10 11:20] #17 closed, assigned to nobody

[2022-05-10 11:20] #13 closed, assigned to nobody

[2022-05-11 08:56] ekes opened #30 "Rename tabs and views"
As per localgovdrupal/localgov_microsites#36

[2022-05-11 08:57] ekes commented on #30
Related can we just import our own views for users and nodes membership for the views that are presently not installing #27

[2022-05-11 09:24] #1 closed, assigned to ekes

[2022-05-13 07:52] finnlewis commented on #28
@ekes are you already on this or would this be a good one for me to chip in on?

[2022-05-13 07:55] ekes commented on #28
Not one I'm working on. So feel free to make a role.

[2022-05-13 08:44] finnlewis commented on #30
@ekes would this be another good one for me to help with?

[2022-05-13 08:49] ekes commented on #30
It's really fixed in #27 which is fun if you want to look at it further; for now I'm just importing our views with our naming, but will need further work at some point to make it less brittle.

[2022-05-13 09:39] markconroy opened #32 "Add sprint 3 fields"
Adds fields for:
- Secondary colour
- Text colour dark
- Text colour light
- Spacing
- Heading font weight
- All fields for headings 1 - 6

Updates:
- Footer logos to use media
- Field group labels for Heading overrides
- Field group labels for Global styles

Removes:
- Main menu field
- Utility menu field
- Housekeeping menu field

[2022-05-13 15:27] #22 closed, assigned to ekes

[2022-05-13 15:33] ekes commented on #26
This *is* going to be more interesting than a 1.

Everything can be sorted with [3f2dabc] but then there's no access to create menu items. The issue is https://www.drupal.org/project/group_content_menu/issues/3152938 the microsite admin needs to have permission to `administer group` at which point all the tabs we've just hidden reappear as that's the override permission that can do all the things

[2022-05-16 09:29] ekes commented on #28
@finnlewis Guess we can push this one to done?

[2022-05-16 09:31] ekes commented on #27
This is fixed for the use case of installing the site with the profile and the single content type:-

Follow-up:-

- It is not fixed if you install the group module and then the Microsites Group module.
- It is only working for the one group type 'Microsites'.

[2022-05-16 09:32] ekes commented on #30
@finnlewis Set to done with followup on #27?

[2022-05-16 09:32] finnlewis commented on #28
Oh yes, I do believe we can! Thanks @ekes

[2022-05-16 09:32] #28 closed, assigned to finnlewis

[2022-05-16 09:33] ekes commented on #15
Related #20

[2022-05-16 09:34] ekes commented on #11
Relate #27 (which group types to filter the pages by)

[2022-05-16 11:45] ekes commented on #26
https://www.drupal.org/project/group_content_menu/issues/3280653

[2022-05-16 15:25] #32 closed, assigned to nobody

[2022-05-16 16:08] finnlewis opened #35 "Add menu bar for microsite admins to be able to find their group"
When a 'microsite admin' logs in we want to redirect them to the group page.

Like /group/1

However, if they are elsewhere, we need to offer a link or links so that they can manage their content and config (admin toolbar ? custom block displaying the tabs of the group?)

[2022-05-17 18:57] ekes commented on #35
@markconroy @msayoung Before I make a blank-ish template for this does the render array make sense to you https://github.com/localgovdrupal/localgov_microsites_group/commit/5b881e96ac64218ff3e1773505964400ebc13393#diff-31a6feeb998ebe17cbedc629279f120b16a3db15468702d0ca85b21e486654ddR118=

It's basically an array of links with #access and #weight.

[2022-05-18 10:08] ekes opened #36 "Local Task tabs on Microsite Group"
https://github.com/localgovdrupal/localgov_microsites/issues/36

### Rename local task link

Rename 'Domain settings' to 'Site settings'
Rename 'View' to 'Dashboard' ?
Rename 'Edit' to 'Site design'

### User permissions

Hide 'Delete'
Hide group permissions (assuming we don't need them for now)
Hide 'All entities'
Hide revisions (for now)

### Views

Rename 'Members' to 'Users'
Rename 'Nodes' to

[2022-05-18 11:53] ekes commented on #36
@finnlewis these are already removed from the admin as they don't have the permission to do these things, should they (all) be removed from the controller; and then is this a _permission_ for them, or just a visual change? Like should they be able to delete microsites for example?

[2022-05-18 12:06] ekes commented on #36
Removed even when user has access to them for now.

[2022-05-18 12:07] ekes commented on #36
Already done #30 with followup #27

[2022-05-18 12:07] ekes commented on #30
Closing this in favour of #36 and #27

[2022-05-18 12:07] #30 closed, assigned to ekes

[2022-05-18 15:36] finnlewis opened #51 "Update title for microsites->add form"
When creating a new microsite, the title is:

"Create new Domain Group"

Could we change this to

"Create new microsite" ?

![image](https://user-images.githubusercontent.com/326588/169085813-82fce551-370e-4f94-b8a0-826a7bf7801e.png)

[2022-05-18 15:50] ekes opened #38 "Remove /admin/microsites from microsite"
- [ ] Remove microsites admin list from microsite
- [x] ~~Error on microsites admin if accessed from a microsite.~~
[code]

[2022-05-18 16:05] #36 closed, assigned to nobody

[2022-05-19 09:43] markconroy commented on #35
@ekes

1. Do we have a fall back for if an admin logs in and is an admin of more than one group? I'd expect most content designers in a council will be admins on many of the groups/microsites
2. The render array you are proposing looks like a good idea to me.

[2022-05-19 09:51] ekes commented on #35
So far the understanding is that a user who is to edit content logs into the microsite url. So there is only one group, the one for that microsite hostname. The menu displayed are the local tasks for the group based on the hostname. If they want to edit another one they need to log into that microsite.

On the control site it is possible to enter content, from within the group context, but it's be

[2022-05-19 12:14] richard-s-rowley opened #42 "Fonts"

[2022-05-19 12:26] richard-s-rowley commented on #42
Hi Mark, Maria,

I have come up with a list of 21 fonts we could offer at the start. Of these, all 21 are suitable for headings and 17 for body text.

I wanted to cater for a whole variety of vibes (including attractions and services aimed at children). The sans fonts are half gothics and half humanists, and go from neutral to more characterful. If you think this is too many to go with at the star

[2022-05-19 12:27] richard-s-rowley commented on #42
I can also provide links to the files or the files themselves if that helps.

[2022-05-19 13:04] markconroy commented on #35
That makes sense, but I'd presume since this is for councils that most editors will be editors on more than one site and would expect to login just once to their microsites portal.

If the original thought was that this was going to be part of LGD rather than a separate instance, they'd be managing all their content from within their LGD site

[2022-05-19 13:11] ekes commented on #38
The other is hopefully fixed, without breaking anything else (tests still passing) on domain_group
https://git.drupalcode.org/sandbox/ekes-3278349/-/commit/82875634727eb11f404c616932bbb0d7e080f5aa

That you shouldn't be able to access it on a microsite is surprisingly more complicated. The view access on domain requires knowing the domain hostname; there isn't an access filter for 'default' 'not d

[2022-05-19 13:14] markconroy commented on #42
This is great work Richard. Thanks very much.

Are these all available as Google Fonts?

[2022-05-19 14:17] markconroy opened #43 "Remove default values from styleguide items"
If we hard code default values (such as 1rem) into values in our styleguide items, then those items cannot default back to the defaults of `localgov_base`.

Instead of default values, let's add good help text and consider using a placeholder

- Base font size
- Base line height
-

[2022-05-19 14:17] markconroy commented on #42
Gonna start working on this now.

[2022-05-19 14:41] richard-s-rowley commented on #42
Hey Mark,
They are all on Google fonts, except:
https://www.theleagueofmoveabletype.com/junction
https://velvetyne.fr/fonts/sporting-grotesque/

They are two of my quirkier favourites but I can provide Google alternatives if that helps.

[2022-05-19 14:48] msayoung commented on #26
May be dealt with elsewhere but admins can't currently add the Page content type. Shall I create another issue for that @ekes ?

[2022-05-19 14:51] markconroy commented on #42
I have all the others ones, I'll grab those ones tomorrow.

[2022-05-19 15:14] ekes commented on #26
That's a bug. They do have the permission to add a page, just don't get to that form, or at least on my site. So new issue I'd say, looking at it:

If you go to https://localgov-micro-1.lndo.site/group/1/content/create/group_node%3Alocalgov_page
(and are the admin of it you can add a page).

The action button on https://localgov-micro-1.lndo.site/group/1/nodes is visible too

But it goes to https:

[2022-05-19 15:56] ekes opened #45 "Admins don't get create content form linked, while they have access to it."
That's a bug. They do have the permission to add a page, just don't get to that form, or at least on my site. So new issue I'd say, looking at it:

If you go to https://localgov-micro-1.lndo.site/group/1/content/create/group_node%3Alocalgov_page
(and are the admin of it you can add a page).

The action button on https://localgov-micro-1.lndo.site/group/1/nodes is visible too

But it goes to https:

[2022-05-19 15:57] ekes commented on #45
related issues:

- https://www.drupal.org/project/group/issues/2881769
- https://www.drupal.org/project/group/issues/3272989
- https://www.drupal.org/project/group/issues/2972800
- https://www.drupal.org/project/group/issues/2842630

I'd say it's come up before. Just need to filter that to get the fix out.

[2022-05-19 16:13] markconroy commented on #7
Seems like they now are. Closing.

[2022-05-19 16:13] #7 closed, assigned to nobody

[2022-05-19 16:13] markconroy opened #46 "Use media field for footer logos"

[2022-05-20 07:13] finnlewis commented on #35
Interesting assumption @markconroy - I had assumed the opposite, that they would want to log into the site they are managing to keep it all in context.

We should add these competing assumptions to the assumptions log and ultimately confirm if it is one or the other, or both!

Meanwhile, does this assumption have a material impact on how the localised group menu works @ekes ?

[2022-05-20 07:18] finnlewis commented on #35
Either way, we will need to style the block.

If I place the 'Microsite tasks' block in the 'tabs' region, then log into Microsite 1 as admin1, it looks like this:

(you can just see the links against the dark background)

![Image](https://user-images.githubusercontent.com/326588/169474327-eaba5458-902a-4e4b-822f-8aefdf509872.png)

@msayoung one for you?

[2022-05-20 07:23] ekes commented on #35
When you are on the group domain you have the group menu everywhere.
When you are on the control site you have the group menu when you are in the group.

The point raised on slack, but not here yet I think, by mark was that with the desire to make all of the group remain in the admin theme consistently, it means on the control site you never see the theme for the microsite. So should anyone be edi

[2022-05-20 08:22] finnlewis commented on #42
What's left to do on this one?

[2022-05-20 08:40] markconroy commented on #42
There's a PR for this. Once merged, this should be complete (unless we want to make the form prettier).

[2022-05-20 10:41] ekes commented on #23
One more vote for Group Content https://github.com/localgovdrupal/localgov_microsites_group/pull/41 as it saves having to do anything complicated to add the group context for the menu if everything is displayed under the group context anyway.

[2022-05-20 10:52] ekes commented on #23
Questions: Aliases, paths, breadcrumb, admin theme

When in the group context the breadcrumb becomes something like groups > group name > content
However we don't want to include the group in the breadcrumb if it's shown on a domain. The piece of content could be the homepage and then other content could be under it.

Aliases UX: The alias is set on the Group Content relationship entity. There is

[2022-05-20 11:17] ekes commented on #45
https://www.drupal.org/files/issues/2019-01-04/2842630-20.patch makes the most sense to me.
It's also on the issue where the maintainer has responded, so if we want it in we should write tests for it.
Immediately I'll make a PR to add the patch though.

[2022-05-20 11:31] ekes commented on #35
Can we close this one? Anything new in a new issue? This is merged?

[2022-05-20 11:32] ekes opened #50 "Group User and Node views"
This is fixed for the use case of installing the site with the profile and the single content type:-

Follow-up:-

- It is not fixed if you install the group module and then the Microsites Group module.
- It is only working for the one group type 'Microsites'.

_Originally posted by @ekes in https://github.com/localgovdrupal/localgov_microsites_group/issues/27#issuecomment-1127444211_

[2022-05-20 11:33] ekes commented on #27
Closing with #50 as the follow-up for the non-profile cases.

[2022-05-20 11:33] #27 closed, assigned to ekes

[2022-05-20 11:35] ekes commented on #26
So taking this as fixed.

With a PR for the additional content type list bug #45 deal with there.

[2022-05-20 11:35] #26 closed, assigned to ekes

[2022-05-20 11:36] ekes commented on #25
https://github.com/localgovdrupal/localgov_microsites_group/pull/34#pullrequestreview-977060859

[2022-05-20 11:36] #25 closed, assigned to ekes

[2022-05-20 13:48] markconroy commented on #23
We could remove the first or second item from the breadcrumb index perhaps?

We probably don't need an alias on the node, just /node/[nid] should be enough since _all_ content should be group content. As all, all content should reside within at least one group for it to appear on any microsite.

If we remove the group path, we might end up with clashing URLs, such as two groups that have an "About

[2022-05-20 13:51] ekes commented on #23
That was the inboud outbound processor idea. Enforcing the group/name on the actual alias (but probably hiding it in the field - which has to be separate from the node form) and then removing (and defaulting) based on domain.

[2022-05-20 13:53] ekes commented on #23
Still want to be able to have consistent way getting from the 'GroupContent' node to:
 * editing the node (Node edit form)
 * setting the path alias (GroupContent edit form)
 * removing the content (cf. difference between deleting the GroupContent or Node especially if possibility of shared content)

[2022-05-20 13:55] markconroy commented on #35
I think this is good to close now. There's a separate ticket for theming those tabs.

[2022-05-20 13:55] #35 closed, assigned to ekes, msayoung

[2022-05-20 13:59] markconroy commented on #23
In Annertech, we created "Local Tasks" and placed them in the tabs region for

"Edit Content (node) | Edit building block (layout builder items) | Manage (Group content)", but they were only available from the group content entity. If you were looking at the node, you got the usual node items "View | Edit | Delete"
![Screenshot 2022-05-20 at 14 59 24](https://user-images.githubusercontent.com/2183

[2022-05-20 14:08] #4 closed, assigned to nobody

[2022-05-20 15:01] #45 closed, assigned to nobody

[2022-05-20 15:04] #42 closed, assigned to markconroy, msayoung, richard-s-rowley

[2022-05-20 15:04] #46 closed, assigned to nobody

[2022-05-20 15:20] #51 closed, assigned to ekes

[2022-05-20 15:56] ekes opened #55 "New permissions for controller"
Do we want to add some permissions for the controller. For example viewing the 'overview'. Which is presently looking for the override group permissions.

[2022-05-23 08:49] msayoung opened #57 "Allow multiple footer logos"

[2022-05-23 10:35] msayoung opened #59 "create microsite view mode"

[2022-05-23 11:03] richard-s-rowley opened #60 "Better field labelling on IA blocks"
Replace 'Edit form' with 'Edit IA block'
Replace 'Service title' with 'Block title'
Replace 'Title link' with 'Title link destination'
Replace 'Service title link' with 'Menu item destination'
Replace 'Service Link text' with 'Menu item text'

[2022-05-23 11:12] richard-s-rowley opened #61 "UX: Add autosave to page editing"

[2022-05-23 11:12] richard-s-rowley opened #62 "Allow duplication of a paragraph, with its content"

[2022-05-23 11:29] richard-s-rowley opened #63 "Remove Heading 1 from the wysiwyg, and add a page title? (question)"

[2022-05-23 11:29] richard-s-rowley opened #64 "Dragging paragraph to new section initially moves it to 'disabled paragraphs' section. You need to move-save-move-save."

[2022-05-23 11:29] richard-s-rowley opened #65 "UI: Add node lookup to 'Link' paragraph type"
Assuming this is just adding the linkit.

If complexities arise due to group etc.... it might get bigger!

[2022-05-23 11:30] richard-s-rowley commented on #63
Is there a reason we don't have a page title on the page?
As it is someone can add multiple ```<h1>```s

[2022-05-23 11:46] finnlewis commented on #38
I think this fixed @ekes , no?

[2022-05-23 11:51] richard-s-rowley opened #66 "In columns, what is the difference between 'flexible' and 'single'?"

[2022-05-23 12:14] richard-s-rowley opened #68 "Default fonts"
Headings: Merriweather
Body: Roboto

[2022-05-23 12:24] richard-s-rowley opened #69 "Breakpoint for font sizing"

[2022-05-23 12:26] richard-s-rowley opened #70 "Design: Increase spacing between page sections, and between columns"

[2022-05-23 12:29] richard-s-rowley opened #71 "Restyle accordions (so they look less like buttons and more like expandable blocks)"

[2022-05-23 12:29] richard-s-rowley opened #72 "Design: Add max-width to <p> so that eg a single column, 900px-width block of text is not possible"

[2022-05-23 14:00] ekes opened #74 "Microsites controller: create a new site [remaining issues]"
Hi @ekes

On this one, a couple of things to do:

- [ ] Rename 'Edit' tab to 'Site design'
- [ ] Hide or remove the 'Revision Information' tab from the edit form

![image](https://user-images.githubusercontent.com/326588/169810272-127c2ec6-f73e-490f-b76d-f56a3f2bc65f.png)

_Originally posted by @finnlewis in https://github.com/localgovdrupal/localgov_microsites/issues/36#issuecomment-1134558416_

[2022-05-23 14:13] #38 closed, assigned to ekes

[2022-05-23 14:14] finnlewis commented on #57
Did I see a pull request for this?
Yes! https://github.com/localgovdrupal/localgov_microsites_group/pull/58
So I think this is done, feel free to re-open if I'm mistaken!

[2022-05-23 14:14] #57 closed, assigned to msayoung

[2022-05-23 14:15] finnlewis commented on #64
I think this works much better in v 2.x

[2022-05-23 14:15] finnlewis commented on #61
Good idea!

[2022-05-23 14:17] finnlewis commented on #61
Thunder use this: https://www.drupal.org/project/autosave_form

There are some notes here: https://www.thunder.org/autosave-thunder

[2022-05-23 15:05] ekes commented on #74
So that's fixed in bd4fd8c I've just pushed it, a c&p error in the refactor.

Seems Group doesn't offer permissions for this. Might it be best to just set it default to not make a new revision. Then the slider is still there in grey, but nothing else. Anything less is going to be a form alter that I fear will cause pain to someone working out where it's done when we do need revisions.

[2022-05-23 15:05] ekes commented on #74
@finnlewis should have tagged you on that question :point_up:

[2022-05-23 15:14] ekes opened #77 "Alias field on GroupContent User (member) form"
Hi @ekes

On this one, could we remove or hide the 'URL alias' from the user add form?  I don't think we need it and it is bound to cause confusion.

![Image](https://user-images.githubusercontent.com/326588/169809165-70faafc4-75c4-41d7-b324-c30527cde5b1.png)

_Originally posted by @finnlewis in https://github.com/localgovdrupal/localgov_microsites/issues/37#issuecomment-1134551989_

[2022-05-23 17:26] msayoung commented on #63
PR https://github.com/localgovdrupal/localgov_microsites/pull/99 removes the H1 in the wysiwyg

I think we are now printing the page title but it hasn't made it to the demo site

[2022-05-23 17:45] #74 closed, assigned to nobody

[2022-05-24 08:51] #77 closed, assigned to nobody

[2022-05-24 09:37] msayoung opened #81 "header logo display"
I think this is fixed on recent install. Can you confirm @finnlewis

[2022-05-24 09:56] #63 closed, assigned to finnlewis, msayoung

[2022-05-24 09:57] #59 closed, assigned to msayoung

[2022-05-24 09:57] #68 closed, assigned to msayoung

[2022-05-24 10:21] #81 closed, assigned to finnlewis

[2022-05-24 10:23] finnlewis opened #82 "show the Tours automatically to people on their first visit"

[2022-05-24 10:24] finnlewis opened #83 "Quick review of help text before user testing?"

[2022-05-24 10:34] finnlewis commented on #65
Add linkit! This might be in localgov_paragraphs.

@markconroy pointed out that we might need a patch for linkit to work with link fields.

[2022-05-24 11:07] msayoung opened #84 "Bug: Microsite admin cannot add 2 or 3 column layouts"
As a "Microsite Admin" if I add a new Layout section, and try and choose 2 or 3 column layouts I get the  following:

![Image](https://user-images.githubusercontent.com/3852805/170020936-7411e588-de9e-4b2a-8d8f-7e84e3c03cbd.png)

[2022-05-24 11:37] ekes commented on #84
Guess it might be this?

Did we fix this somewhere for localgov?

[2022-05-24 11:41] stephen-cox commented on #64
@richard-s-rowley  I'm unable to reproduce this. Moving paragraphs between sections works fine for me.

Are you able to give steps on how to reproduce this?

[2022-05-24 12:46] richard-s-rowley commented on #64
Also works fine for me now @stephen-cox so I will close and raise a separate ticket if I see it again

[2022-05-24 12:46] #64 closed, assigned to finnlewis, richard-s-rowley

[2022-05-24 13:31] stephen-cox commented on #82
@msayoung @finnlewis It seems that there's not a keen interest in having Tour autoplay to people when they first visit a page: https://www.drupal.org/project/drupal/issues/2934417

The agreed autoplay method is to add `?tour=1` to the end of the URL. For example: https://microsites.localgovdrupal.org/admin/microsites?tour=1

I'm sure we could get the tours to autoplay when first visiting the page,

[2022-05-25 11:05] msayoung opened #87 "White space in the admin form"
Seem to have a big white space at the top of the tabs. I think they are new ?

[2022-05-25 11:05] msayoung commented on #87
![Image](https://user-images.githubusercontent.com/3852805/170248313-70c56853-d996-47e3-b3d4-ce53a22b482d.png)

[2022-05-25 11:06] msayoung opened #88 "Remove Heading 1 text from default content"
We removed the Heading 1 from the WYSIWYG so the text that now reads "Heading 1" needs to be removed

[2022-05-25 11:08] msayoung commented on #88
![Image](https://user-images.githubusercontent.com/3852805/170248700-6cdcfda3-b49a-4ef6-ae60-2c5f8e2c003b.png)

[2022-05-25 11:29] finnlewis opened #94 "Clear node group content cache when saving a group"
When adding footer blocks (on council test sites) they can't be seen immediately. They turn up after a while, or after a cache clear

[2022-05-25 11:30] finnlewis commented on #94
Could we add a brute force cache clear on saving group config or new nodes?

[2022-05-25 11:31] msayoung opened #89 "Colour picker"
When we update the colour value manually, can it be reflected on the colour swatch ?

[2022-05-25 11:31] finnlewis opened #90 "Colour picker hex code colour preview"
When adding a hex value to the colour field, the colour picker does not represent the new colour.

It would be nice to fix this.

[2022-05-25 11:33] finnlewis opened #96 "Menus - WSOD on node/add"
Creating a new node, adding a menu item creates a WSOD

Further to this, editing node, no menu widget.

Options:
 - fix
 - remove menu widget from form

[2022-05-25 11:33] msayoung commented on #89
oh, duplicate

[2022-05-25 11:33] #89 closed, assigned to markconroy

[2022-05-25 14:23] finnlewis commented on #87
I can't figure out what is going on here @msayoung / @markconroy - any ideas? Something to do with Gin and / or Claro?

[2022-05-25 14:34] msayoung commented on #87
![image](https://user-images.githubusercontent.com/3852805/170286266-148f02d9-7565-4809-a61d-e581dcb9def9.png)

seems to be Claro

[2022-05-25 14:35] finnlewis commented on #88
You mentioned this earlier @msayoung  - are you working on it?

[2022-05-25 14:37] msayoung commented on #88
I did it actually - there's a PR somewhere

[2022-05-25 14:39] msayoung commented on #88
https://github.com/localgovdrupal/localgov_microsites/pull/110

[2022-05-25 14:40] finnlewis commented on #88
Brill - merge away!

[2022-05-25 14:40] finnlewis commented on #90
You looking at this @markconroy ?

[2022-05-25 14:42] finnlewis opened #93 "edit status message with next step (add users?)"
![Image](https://user-images.githubusercontent.com/3852805/170027072-6233bb7e-ec8b-427a-90fb-ae7bb2038812.png)

Once a controller has created a microsite they see the message above.

Can we edit it to add

"You may now want to add a microsite admin "

[2022-05-25 15:16] finnlewis commented on #87
When did this start? I'm sure it wasn't there yesterday

[2022-05-25 15:18] finnlewis commented on #87
Is there a quick fix we can do to resolve this?

[2022-05-25 16:07] markconroy commented on #90
This was completed a few hours ago
https://github.com/localgovdrupal/localgov_microsites_colour_picker_fields/pull/2

[2022-05-25 16:07] #90 closed, assigned to markconroy

[2022-05-25 16:21] finnlewis commented on #87
@markconroy and @markconroy  and @finnlewis realised this is due to the latest release of Gin theme.

New issue created here: https://www.drupal.org/project/gin/issues/3282294

[2022-05-25 16:22] msayoung commented on #87
hunted this down to a bug introduced in beta3 of Gin . have pinned Gin at beta2 for testing

[2022-05-25 21:07] finnlewis commented on #87
Looks like Sascha found the problem: https://www.drupal.org/project/gin/issues/3282294#comment-14536806

[2022-05-25 21:15] finnlewis commented on #87
Sascha would love some more eyes on the CSS changes, either @markconroy or @msayoung able to take a look and comment?

https://www.drupal.org/project/gin/issues/3282294#comment-14536806

Here's the diff:

https://git.drupalcode.org/project/gin/-/merge_requests/148/diffs

It works for me, but I've not understood why yet!

[2022-05-26 07:07] stephen-cox commented on #94
I have added a hook to invalidate the node cache when a group is saved with #95

https://github.com/localgovdrupal/localgov_microsites_group/blob/9b4b6df511cb6ca5a8f8b2491ed580568a4f0aa2/localgov_microsites_group.module#L81

The problem with this approach is invalidates all nodes when we only want those associated with the group. Invalidating tags like `group:$id` didn't work.

One approach would

[2022-05-26 12:06] msayoung opened #98 "Add new content bug"
As a microsite admin
If a add a new piece of content, then save
I am presented with a blank screen (with two buttons)

I think this should offer the ability to add a URL alias

Perhaps a ramification of hiding the Menu options @stephen-cox

[2022-05-26 12:10] markconroy commented on #87
I think I found the issue
https://www.drupal.org/project/gin/issues/3282294#comment-14537391

[2022-06-07 08:27] finnlewis opened #225 "Write automated tests for creating a new microsite."
We're going to want some integration tests that cover the user journey of creating a new microsite and assigning users to the site.

Specifically tests to cover:

- [x] Microsite controller creates a new microsite on site1.domain.com
- [ ] site1.domain.com can be accessed anonymously
- [ ] Microsite controller creates a new microsite on site2.domain.com
- [ ] site2.domain.com can be accessed anony

[2022-06-08 07:51] finnlewis commented on #96
I think this was done @stephen-cox - closing - feel free to re-open if not!

[2022-06-08 07:51] #96 closed, assigned to stephen-cox

[2022-06-08 07:52] finnlewis commented on #94
@stephen-cox do we want to close this for now or keep it open to refactor with more targeted cache tags?

[2022-06-08 07:53] finnlewis commented on #82
Still a live one?

[2022-06-08 11:34] finnlewis commented on #98
@markconroy thinks this might be a matter of enabling the '2 step wizard'.
@stephen-cox mentions path aliases

[2022-06-08 11:35] markconroy commented on #98
![Image](https://user-images.githubusercontent.com/2183332/172606731-77f02c51-8f8e-470c-8fa9-7dbe80eec989.jpg)

If we turn off the "2 step wizard" feature here, we don't get the extra screen (however, we'll need this (I think) if we want fields here to set URLs for example).

[2022-06-08 11:46] #82 closed, assigned to stephen-cox

[2022-06-08 11:58] msayoung commented on #60
I recommend we create a new paragraph type altogether.

[2022-06-17 13:45] msayoung opened #101 "Site design tab UI gone awry"
buttons have gone walkabout and the tabs should be vertical

[2022-06-17 13:46] msayoung commented on #101
![Image](https://user-images.githubusercontent.com/3852805/174310902-9dc6367a-0281-41a2-ba3d-f042f41af649.png)

[2022-06-17 14:36] msayoung opened #103 "Header / footer fields not printing"

[2022-06-17 14:37] msayoung commented on #103
Turned out to be the config still referenced the old fields, so the view mode didn't install :(

Fix here: https://github.com/localgovdrupal/localgov_microsites_group/pull/102

[2022-06-17 14:39] msayoung commented on #101
The extra fields showing up is fixed in this MR: https://github.com/localgovdrupal/localgov_microsites_colour_picker_fields/pull/3

[2022-06-20 10:01] stephen-cox opened #105 "Move all group permissions to localgov_microsites_permissions module"
Group permissions need some unpicking because they are creating dependencies across everything.

At a minimum we should move the permissions config files to the localgov_microsites_permissions module, but maybe we want to implement something like what we're doing with `hook_localgov_roles_default`

Thoughts @ekes @finnlewis ?

[2022-06-21 14:44] finnlewis opened #107 "Redirect users from group content entities to the content"
Once we've sorted the GroupContent question (https://github.com/localgovdrupal/localgov_microsites_group/issues/23)

We'll probably need to hide access to the group content entity and redirect users from said entity to the actual content, just in case!

[2022-06-21 14:50] finnlewis commented on #105
I'm not clear how putting all permissions in a separate module helps. Could we discuss this at some point or clarify @stephen-cox @ekes ?

[2022-06-21 14:57] finnlewis opened #108 "Add venues to microsites directories"
From: https://github.com/localgovdrupal/localgov_microsites_group/pull/106

Directory venues aren't enabled by default because the Drupal site install hangs indefinitely when trying to enable something to do with this. It is possible to enable venues after a site install, so I suspect some sort of run condition, but haven't spent much time investigating this yet.

## User story

As a microsite adm

[2022-06-21 15:00] finnlewis opened #109 "Add a location entity to a directory entry (in a microsite)"
From https://github.com/localgovdrupal/localgov_microsites_group/pull/106

When venues are enabled it's not possible to add addresses as anyone other than User 1. I expect something like https://github.com/localgovdrupal/localgov_microsites/issues/111 is going on.

We think this might be an issue for media, etc. or anything that is created and referenced in an inline form .

Might want to generali

[2022-06-21 15:08] finnlewis opened #110 "Discussion on restricting vocabularies and facet types to microsites / groups"
Discussion with @ekes CC @stephen-cox :

We might want to leave this for now, and allow facet types / vocabularies created on one microsite to be available on the others.

There is work going on in Group module to support this, but won't be available in Group 1.x, will be available in Group 2.x

Essentially,
a vocabulary is a config entity and the ID is a string, a term is a content entity and the

[2022-06-21 15:09] ekes commented on #110
https://www.drupal.org/node/2797793

[2022-06-22 11:14] msayoung commented on #66
@richard-s-rowley
I think we are restricting these now. If you are logged in as a Microsite Admin do you still see these?

[2022-06-22 11:15] msayoung commented on #62
This is easy in Layout 2, Not so easy in Layout 1.
I suggest we hold off until we move to Layout 2...

[2022-06-22 11:46] stephen-cox commented on #23
If we go with showing node content rather than group content we run into the issue of contrib modules relying on finding the group from the Drupal route.

This is a problem with the blocks displaying menus from the [Group Content Menu](https://www.drupal.org/project/group_content_menu) project. We have hacked this for now see #41

Also worth checking how [Group Media](https://www.drupal.org/projec

[2022-06-22 11:52] finnlewis commented on #94
We need to address this, after resolving Group Context issue.

[2022-06-22 11:54] finnlewis opened #111 "Admins and controllers can create users which then are not saved"

[2022-06-22 11:55] finnlewis commented on #111
@richard-s-rowley we're not sure how to replicate this. Could you provide some more detail when you're feeling better?

[2022-06-22 12:03] msayoung opened #112 "Can see Microsite tasks label when logged out"
![Image](https://user-images.githubusercontent.com/3852805/175021534-2dde2fac-58a5-40c6-b7b9-73e724f67297.png)

[2022-06-22 16:28] msayoung commented on #101
Fixed in the new Gin https://www.drupal.org/project/gin/issues/3285760

[2022-06-23 13:14] msayoung commented on #112
fixed

[2022-06-23 14:42] stephen-cox opened #114 "Coding standards problems"
[code]

[2022-06-23 14:42] stephen-cox opened #115 "Test failures"
[code]

[2022-06-24 09:11] ekes commented on #23
The decider on this one is probably going to be how Directories, News etc. are designed. Their indexes, and views, are built around linking to the nodes; the nodes flag where they are with an entity reference field to another node. Guides, services all work like this. There doesn't seem a simple way of reusing these components but linking to a different entity.

The context however will rear it's

[2022-06-24 09:55] ekes opened #116 "Permissions creating (inline) content"
We've committed https://github.com/localgovdrupal/localgov_microsites/commit/e20c199bfdf7f18bbc11769e4039443fd534f20e
Issue https://github.com/localgovdrupal/localgov_microsites/issues/111
Then there is https://github.com/localgovdrupal/localgov_microsites_group/issues/109

If we can fix this outside of the domain context, and just with the group context, it would also help https://www.drupal.org/

[2022-06-24 09:58] ekes commented on #110
So the general thought was about just hiding these from lists. It seems not such an uncommon thought too here the same problem with bundles not enabled getting listed in Group Media https://www.drupal.org/project/groupmedia/issues/3188566

[2022-06-24 10:17] ekes commented on #23
Group media checks the route https://git.drupalcode.org/project/groupmedia/-/blob/8.x-2.x/modules/groupmedia_paragraphs/groupmedia_paragraphs.module#L63 but it is looking at the group or other entity and calculating the group for an edit situation. I'd guess this is common. Like even without our use-case when editing node/1 a module might want to know which groups it's associated with.

So no addi

[2022-06-27 16:06] msayoung opened #190 "Create Microsite "editor" role for group / microsite members"
As a microsite editor X
Be unable to Create, Update or Delete page content on site Y

https://docs.google.com/spreadsheets/d/1cfc3-k9FklP1PD5xHjdTrL9x9jbGmm7EjlgvLTvX2Zw/edit#gid=0&range=70:70

Stephen's assumption is that the Drupal "trusted editor" role will be automatically assigned.

Do we want to have a site member that can not do anything? General thought is no.
There will be no "microsite e

[2022-06-28 09:08] markconroy opened #120 "Allow admins set teaser image style per microsite"

[2022-06-28 10:28] markconroy commented on #120
Teaser images

    square, 4:3, 3:2, 7:3

[2022-06-28 10:40] richard-s-rowley commented on #66
gone now! thx

[2022-06-28 10:40] #66 closed, assigned to richard-s-rowley

[2022-06-28 12:38] stephen-cox commented on #115
This is now fixed with https://github.com/localgovdrupal/drupal-container/commit/6594dbf577019a48faba0f7d13600d040eb9a3ff

[2022-06-28 12:38] #115 closed, assigned to nobody

[2022-06-29 08:32] msayoung opened #122 "Warn / inform users when they are picking inaccessible contrasts"
- https://github.com/mherchel/contrast-grid
- https://contrastgrid.com
- https://metageeky.github.io/contrast_table_analyzer/contrast-table.html

The above provide contrast grids, which we could point to or embed?

Not sure if this is the best approach

[2022-06-29 09:02] #120 closed, assigned to nobody

[2022-06-29 09:40] msayoung opened #123 "Set image style on footer logos"

[2022-06-29 10:56] stephen-cox commented on #105
@finnlewis @ekes Rather than moving permissions to localgov_microsites_permissions (which I think can be removed), I propose adding a RolesHelper class like (https://github.com/localgovdrupal/localgov_core/blob/2.x/modules/localgov_roles/src/RolesHelper.php) and using this to decouple the dependency between localgov_microsites_group and any modules that need to define permissions.

PR with the pro

[2022-06-29 13:00] markconroy opened #126 "Remove 4:3 option for image teaser field in Microsite settings > advanced tab"
We don't have a 4:3 ratio image style to use, so let's remove the option for now.

[2022-06-29 13:36] #126 closed, assigned to nobody

[2022-06-30 08:02] #114 closed, assigned to nobody

[2022-06-30 15:20] #105 closed, assigned to stephen-cox

[2022-07-04 12:25] ekes commented on #23
With previous work and now https://github.com/localgovdrupal/localgov_microsites_group/pull/129 have we got all of these?

[2022-07-05 11:55] stephen-cox commented on #108
PR to fix the issue with directories with further discussion here https://github.com/localgovdrupal/localgov_directories/pull/202

[2022-07-06 11:04] finnlewis commented on #110
We discussed this at the Microsites Working Group on Monday.

See https://docs.google.com/document/d/1Y63d87PP6gc89m01NjJRUwsLzv5GWxRxDXgRG3-vbM4/edit#heading=h.q0yqkw71af8u

Making vocabs without terms listed separately sounds agreeable for now.

[2022-07-08 08:54] msayoung opened #131 "On admin pages, "skip to main" link jumps past the admin tabs."
The "skip to main" link doesn't work on the Group page.

To replicate: use the tab key to tab to the Skip to main link, hit enter.
Expected result: focus jumps to the main content area

On the NODES tab: /group/1/nodes

The Skip to main does work, but skips content that should be contained in the `main`

[2022-07-08 11:28] stephen-cox opened #132 "Change display name of `microsites_trusted_editor` role from "Microsites administrator" to "Microsites trusted editor""
The machine name of this was changed, but the display name wasn't

https://github.com/localgovdrupal/localgov_microsites_group/blob/4de9a7549566ab31104064052152f7cb8110a0c6/config/install/user.role.microsites_trusted_editor.yml#L12

[2022-07-08 12:59] stephen-cox opened #133 "Move directories permissions from localgov_microsites_group to localgov_microsites_directories"
With #125 we can now removed the dependency of localgov_microsites_group on localgov_directories and move it entirely to localgov_microsites_directories. The only thing remaining looks to be the permissions.

[2022-07-11 10:34] stephen-cox commented on #109
Turns out this was just a permissions issue. Should be fixed with https://github.com/localgovdrupal/localgov_microsites_group/pull/134/commits/1cfdc1a3a46e6c721d42409c94c43da9e7b8772c

[2022-07-11 11:17] #109 closed, assigned to stephen-cox

[2022-07-11 11:17] #132 closed, assigned to stephen-cox

[2022-07-11 11:17] #133 closed, assigned to stephen-cox

[2022-07-11 12:18] stephen-cox opened #136 "Managing vocabularies and taxonomy terms in a group"
Current plan is for vocabularies to be shared across groups and taxonomy terms to be group content.

We will need to implement a UI for this. One's been built for managing directory facets, so something similar can be done for this.

[2022-07-11 12:20] stephen-cox commented on #136
@ekes This will be required for both news and events content types, so have created a separate issue for it.

Is there anything else we need to consider here?

[2022-07-11 16:28] ekes commented on #136
Don't know if we want to look at https://www.drupal.org/project/group_taxonomy

I'm pretty sure we don't want to use the patch that would add vocabulary (see issue about config entities elsewhere); but maybe it's better to use it for the terms? Or maybe it's better doing it ourselves the same?

[2022-07-11 16:30] ekes commented on #136
My other probable requirement is we will want to differentiate between vocabularies:- I can see the use case where Open Active vocabulary or such has been imported and is fixed, so that vocabulary has terms shared between all sites that can't be edited; where as another can.

[2022-07-11 17:09] ekes commented on #136
Oh.

https://www.drupal.org/project/group_term

[2022-07-12 07:33] stephen-cox commented on #136
I had a look at both those.

I don't think we want [Group Taxonomy](https://www.drupal.org/project/group_taxonomy) as we need that patch. At the moment people seem okay with shared vocabs and group terms.

[Group Term](https://www.drupal.org/project/group_term) will make it easier to create group content plugins as we won't need to write our our plugin classes for each vocab, but that it pretty mu

[2022-07-12 08:00] ekes commented on #136
Had a look now. Three commits. I'm guessing because it is really just the enabler, view, tokens and permissions. Most of which seems c&p code.

But if I'm right it is breaking up the permissions per bundle and the ContentEntabler, which is good.

So if I read it correctly we could use that, save us doing the same c&p. If there are issues down the line that are a problem we can fork - or ask for ma

[2022-07-12 08:30] stephen-cox commented on #136
Sounds like a plan. Thoughts on whether localgov_microsites_group_term_ui module should be standalone rather than a submodule of localgov_microsites_group? I lean towards a standalone module, but it's going to be quite simple so could just go into localgov_microsites_group.

[2022-07-12 08:40] ekes commented on #136
For standalone: It probably could operate completely independently of microsites, so be useful for re-use. [update:] at which point it becomes group_term_ui module :)
For submodule: Everything else is, like the facets code doing the same, so that's easy.

No strong opinion either way really.

[2022-07-12 15:24] stephen-cox opened #139 "Blocks displayed on events listing pages even when it's a 404 page"
From #138 and https://github.com/localgovdrupal/localgov_microsites/issues/119

The LocalGov Events module provides an events view at /events. By default this will be displayed on all sites, even if they're not using events.

The Microsites Events module checks if there are any events and if not shows a 404; https://github.com/localgovdrupal/localgov_microsites_group/blob/bcb7e9975b6a3de231e30541b

[2022-07-18 09:43] finnlewis commented on #122
@willguv @markconroy discuss this further?

[2022-07-18 10:16] ekes commented on #23
@finnlewis @stephen-cox @msayoung

Has anyone noticed anywhere this is still an issue: the GroupContent entity (rather than the Entity - node, user) being presented?

If not I'd propose closing this as done; and opening new specific issues, for user maybe, or for tabs showing, or whatever gets spotted in the future (user testing) and then fix them, or look for a neater solution.

[2022-07-18 10:20] markconroy commented on #139
We could create a `page--status.html.twig` (or some other name), and let page--404.html.twig, page--403.html.twig, etc use it, and have that page template not have any sidebar regions in it.

[2022-07-18 10:45] ekes opened #271 "Domain Path PathAuto"
- [x] Create three pathauto aliases for same value, they _are_ created `string`, `string-1`, `string-2` _but_ `string-1` is also replaced as the link _to_ the content for `string-1`. At least that's my manual testing of https://www.drupal.org/project/domain_path/issues/3285213 Needs automated tests and a fix
 - [x] Pathauto checkbox is always _off_ by default, no way of changing this, you have to

[2022-07-18 10:47] ekes commented on #271
Realistically it would be better to change the design of the module to map better to the way that path / pathauto does it with a 'field' (that has no schema) and a widget for it. Rather than the current form alter situation. So the proposals are the minimum band-aid to get the domain_path_pathauto working; but the proper one is a bigger rewrite.

[2022-07-18 10:49] ekes commented on #107
PR https://github.com/localgovdrupal/localgov_microsites_group/pull/129

[2022-07-18 11:55] ekes commented on #20
We're enabling the content types on all groups, but going to have a setting to hide / remove permissions based on which content types are deemed 'enabled'

[2022-07-18 11:55] #20 closed, assigned to nobody

[2022-07-18 11:57] ekes commented on #14
We have the content types. Suggested path forward:
 * All content types are enabled on all grousp
 * To add permissions to access content types per group
 * Make a nice for to do this.
Follow up from https://github.com/localgovdrupal/localgov_microsites_group/pull/138 and https://github.com/localgovdrupal/localgov_microsites_group/pull/137 to appropriately remove `/events` and `/news/search` depen

[2022-07-19 08:46] finnlewis commented on #23
I've not seen it anywhere recently.

[2022-07-19 10:46] #23 closed, assigned to ekes

[2022-07-19 15:56] finnlewis commented on #139
That might be good for other reasons too, just to have a bit more control over the presentation / layout of error pages.

[2022-07-20 08:50] markconroy commented on #139
Should we apply this fix in localgov_base or in localgov_microsites_base?

[2022-07-20 09:04] markconroy opened #144 "Set font-size fields to use font weight numerically instead of words"
Change our field options from:
[code]
to
[code]

This is a follow up to https://github.com/localgovdrupal/localgov_microsites_base/pull/54

[2022-07-20 10:45] msayoung opened #146 "Optionally display sitewide search"
Allow site admins to toggle on/off the sitewide search

[2022-07-20 10:46] finnlewis commented on #190
Need to decide whether to:
 - add a group editor role
 - use the member role and communicate this as editor to microsite contorller.
 - something else?

[2022-07-20 11:41] finnlewis commented on #65
@ekes points out that if this is changing field formatters on existing installs, it might get complex.

In general, we don't want to enforce changes to config on existing installed sites. so maybe this is simply for new sites and we bump the version of localgov_paragraphs?

[2022-07-21 20:32] finnlewis commented on #139
Better upstream in localgov_base ?

[2022-07-21 20:35] finnlewis commented on #139
@markconroy passing this to you as it sounds like you might be best placed to address this in the theme. Feel free to discuss and pass it around if I've got the wrong end of the stick!

[2022-07-25 09:52] markconroy commented on #139
I'm working on this (in localgov_base) but on a microsite I am not getting a 404 if there are no events. I'm getting the general "no events listed" message.
![Screenshot 2022-07-25 at 10 51 24](https://user-images.githubusercontent.com/2183332/180749874-90447277-302f-46f8-bbd1-5d4a342eb14a.jpg)

[2022-07-25 10:35] markconroy commented on #139
PR: https://github.com/localgovdrupal/localgov_base/pull/252

[2022-07-25 11:26] markconroy opened #151 "Add base banner field that we can use across all content types that need it"

[2022-07-25 11:33] markconroy opened #152 "Manage page display for news in full view mode"

[2022-07-25 12:27] markconroy opened #155 "Manage display settings for event nodes"

[2022-07-25 12:37] markconroy commented on #65
Can someone let me know why we are using plain text field for this link field in the localgov_link paragraph type?

We can't set the formatter for that field to use linkit (since it's not a link field). If we are doing to delete that field to change it to a link field, then we don't need linkit, since the link field type will look up nodes by default (just won't look up other entities).

[2022-07-26 09:04] #151 closed, assigned to nobody

[2022-07-26 10:03] msayoung opened #158 "Errors on localgov_news_article/display"
After a fresh site install, then `drush en localgov_microsites_news` then visit /admin/structure/types/manage/localgov_news_article/display

[code]

[2022-07-26 10:16] finnlewis commented on #158
I have just replicated this locally.

Something to do with this field from localgov_directories?
https://github.com/localgovdrupal/localgov_directories/blob/2.x/config/conditional/facets.facet.localgov_directories_facets.yml#L15

[2022-07-26 10:46] stephen-cox commented on #158
This can be fixed by enabling the localgov_directories_db module. Haven't the foggiest why this broke the news display page (and only the news display page).

[2022-07-26 10:55] markconroy commented on #139
I think this can be closed now after https://github.com/localgovdrupal/localgov_base/pull/252 got merged.

[2022-07-26 10:55] #139 closed, assigned to markconroy

[2022-07-26 11:58] stephen-cox opened #159 "Failing tests: Route "entity.filter_format.edit_form" does not exist."
Tests fail with

[code]

[2022-07-26 12:44] #108 closed, assigned to stephen-cox

[2022-07-26 14:05] #155 closed, assigned to nobody

[2022-07-26 14:05] #152 closed, assigned to nobody

[2022-07-26 14:58] msayoung commented on #158
Fixed.

[2022-07-26 15:07] markconroy commented on #65
Ping @finnlewis, any idea re ^

[2022-07-28 13:00] stephen-cox commented on #159
Fixed with #135

[2022-07-28 13:00] #159 closed, assigned to nobody

[2022-07-28 13:07] stephen-cox opened #164 "Move field config from `optional` to `install`"
There's a bunch of field configuration in the optional config directory and other config in install config directory that relies on this config. This is causing unexpected dependency issues during a site install.

I'm currently getting

[code]

field.storage.node.lgms_banner is in optional: https://github.com/localgovdrupal/localgov_microsites_group/blob/1.x/config/optional/field.storage.node.lgms

[2022-07-28 13:07] #158 closed, assigned to nobody

[2022-07-28 13:10] stephen-cox opened #165 "Remove dependency on Subsites"
Since Subsite Paragraphs moved into the LocalGov Paragraphs module there's no need to require Subsites any longer.

[2022-07-28 13:16] ekes commented on #164
I've just moved some of that around because I can't get tests running otherwise https://github.com/localgovdrupal/localgov_microsites_group/pull/160/commits/516613f469bfe7dc41d3ba0ad5b0d4dc7d125d1e
`modules/localgov_microsites_events/config/optional/field.field.node.localgov_event.lgms_banner.yml`
`modules/localgov_microsites_news/config/optional/field.field.node.localgov_news_article.lgms_banner.

[2022-07-28 13:22] stephen-cox commented on #164
This PR moves all config that is required by stuff in the Microsites Group module to install #166

[2022-07-28 13:26] stephen-cox opened #167 "Remove unnecssary group config"
There are a bunch of config files in optional that aren't required. They either don't get installed because they depend on stuff that doesn't exist in Microsites or they already exist in active configuration.

## Depends on LocalGov config that doesn't exist in Microsites

- https://github.com/localgovdrupal/localgov_microsites_group/blob/1.x/config/optional/group.role.microsite-3948cbfd4.yml
- ht

[2022-07-28 14:40] stephen-cox opened #170 "Add requirement on localgov_page to composer.json"
The localgov_microsites_group module has a dependency on localgov_page, but this isn't required by Composer.

https://github.com/localgovdrupal/localgov_microsites_group/blob/c80db640d8eb06f7785593fafbfdb96abedda8c6/localgov_microsites_group.info.yml#L25

 If we want to be able to install Microsites into an existing site all the explicit dependencies should be included in the composer.json file

[2022-07-29 15:01] #164 closed, assigned to nobody

[2022-08-02 06:28] #170 closed, assigned to nobody

[2022-08-02 08:25] ekes opened #175 "Group Member Permissions (without "trusted user" role)"
I don't think the group member has enough permissions at the moment. Which additional permissions should they have?

Scenario: Invite a new user (one not yet in Drupal) as non-admin to group; accept
(this is already quite convoluted, not sure we can simplify it, except maybe redirects, and sure we can make the texts better).

This user is just a member of the group, and does not have trusted edito

[2022-08-02 08:29] ekes opened #176 "Term UI widget with access control (hierarchy)"
Guess rewriting and changing the access check of the parent wasn't an/the best option?
Bit of an edge issue but I think the parent deals with removing the hierarchy if the term above isn't visible. Not sure what's going to happen here. Maybe we just make a follow-up.

_Originally posted by @ekes in https://github.com/localgovdrupal/localgov_microsites_group/pull/142#discussion_r935192927_

[2022-08-02 08:30] ekes commented on #176
_Originally posted by @[stephen-cox](https://github.com/stephen-cox) [comment](https://github.com/localgovdrupal/localgov_microsites_group/pull/142#discussion_r935212806)_

Just adding an access check didn't work. Not sure why, but the check always came back TRUE. Once we started loading the group it seemed easier to call the parent and then filter that.

Good call about the hierarchy. The UI for

[2022-08-02 11:02] #167 closed, assigned to nobody

[2022-08-02 12:29] #136 closed, assigned to stephen-cox

[2022-08-09 11:07] finnlewis commented on #65
OK - let's move this back to no status for now.

[2022-08-09 11:44] stephen-cox opened #180 "Autocomplete field widgets don't work with group taxonomy terms"

[2022-08-09 11:51] stephen-cox opened #181 "Tests fail with `The "group_term:localgov_event_category" plugin does not exist`"

[2022-08-09 12:21] stephen-cox opened #182 "Group term add form sometimes doesn't redirect back group term management page"

[2022-08-09 15:21] stephen-cox commented on #180
This problem is caused because when filtering terms with the autocomplete widget an entity query is used and the Group module alters this is a way that breaks for taxonomy terms. I've tracked the issue down to something in [Drupal\group\QueryAccessEntityQueryAlter::doAlter()](https://git.drupalcode.org/project/group/-/blob/8.x-1.x/src/QueryAccess/EntityQueryAlter.php#L164)

[2022-08-09 15:24] ekes commented on #180
`domain_group` also implements that alter.

[2022-08-09 16:09] stephen-cox commented on #180
I've found the issue: https://www.drupal.org/project/group_term/issues/3302669

Just need to create a patch on the Group Term module.

[2022-08-09 16:18] #181 closed, assigned to nobody

[2022-08-09 16:18] #182 closed, assigned to nobody

[2022-08-09 16:23] stephen-cox commented on #180
Turns out the fix was already in the dev branch :roll_eyes:

[2022-08-10 10:41] finnlewis commented on #136
While testing news, with taxonomy term topcs (categories) we  try to select a term on a news article and get:
`
 This entity (taxonomy_term: 3) cannot be referenced. `

[2022-08-10 10:42] finnlewis opened #186 "This entity (taxonomy_term: 3) cannot be referenced."
While testing news, with taxonomy term topcs (categories) we try to select a term on a news article and get:
` This entity (taxonomy_term: 3) cannot be referenced. `

[2022-08-10 10:54] #180 closed, assigned to nobody

[2022-08-10 13:39] msayoung opened #187 "Site name repeated and doesn't update"
The site name can be set in the site settings, and the Site design
They don't update eachother if one is changed

[2022-08-11 12:25] msayoung opened #189 "Bug: Microsite admins cannot select layouts"
As a user with the Admin role, and the Trusted Editor role
When I add a paragraph layout section and try to select the second or third layouts then I get a spinning wheel of doom.

Giving editors the "Edit Layout Paragraphs Plugin Config" seems to do the trick.

https://www.drupal.org/project/layout_paragraphs/issues/3182691

[2022-08-12 13:35] finnlewis commented on #190
From the start we've referred to 'microsite admin' and 'microsite editor'.

I think we should create the group level role of 'editor' and make sure they can manage content but not edit the site settings and theme config.

[2022-08-30 16:44] msayoung opened #218 "Bug: Competing URLS (news)"
When there are 2 microsite instances using News, the first URL defaults to /news and the second to /news-1
The second can be updated manually, but can we override this somehow, so that it defaults to be /news as well ?

[2022-08-30 16:45] msayoung opened #217 "Bug: News categories and news items from other sites available"
When more than one microsite instance is using News, and some Categories are in use

EG: https://site7.bathnes.localgovdrupal.org/news has 4 news items, and one is using the taxonomy term Education. If we select education we get the following page

![Image](https://user-images.githubusercontent.com/3852805/187493940-324022e8-6e11-4362-a009-8dc613fe2ea0.png)

showing the correct item from the site.

[2022-08-31 11:29] msayoung opened #199 "Rename "Nodes" to "Content" (or Pages?)"
![Image](https://user-images.githubusercontent.com/3852805/180812926-dba95b20-8b2d-48a0-96a9-eacf71ea05d7.png)

This got renamed at some point

[2022-08-31 11:33] msayoung opened #193 "Bug: News editors can access the Content Overview (and create content not in their microsite)"
Ah, I realise now that we dont need to give our users "News editor" role. However it is confusing that it is available

Look at Role Assign, so that Microsite Controllers can only assign the Trusted Editor role

Document it too!

[2022-08-31 11:36] msayoung opened #198 "Rename "Group menus" to "Menus""
![Image](https://user-images.githubusercontent.com/3852805/187432895-59973cc8-8362-40e1-ae40-d752594286f7.png)

[2022-08-31 15:26] ekes commented on #217
So I think I'm right in saying the other entities are in the results, hence in the facet listing, but are filtered out after the fact by the entity access. The requirement here is, as with the entityquery alter, to remove them from the results in the first place. There is a content access (node access) plugin. We almost certainly can write a domain group access plugin - adding a field for the grou

[2022-09-01 11:12] msayoung opened #201 "Remove "Group node" from content list"
Remove the words "Group node" from the list of content types on /group/?/node/create

![Image](https://user-images.githubusercontent.com/3852805/187432492-209ac92b-da8b-4bef-82d5-9f8fb017637e.png)

Add the content type description too please

[2022-09-01 15:40] stephen-cox opened #195 "Automatically assign the Trusted Editor role to site members"

[2022-09-02 09:32] ekes commented on #217
https://www.drupal.org/project/3278349/issues/3307510

So the branch https://git.drupalcode.org/sandbox/ekes-3278349/-/tree/feature/3.x/search-api should do the domain filtering. It needs automated tests at the minimum, and caching checking. Manual tests appreciated.

If a content type is disabled in a group the content does not disappear as it 'should'. I'm not sure if allowing disabling content

[2022-09-02 11:19] markconroy opened #196 "Add embed paragraphs to content types"

[2022-09-05 08:34] #196 closed, assigned to nobody

[2022-09-05 08:39] #189 closed, assigned to stephen-cox

[2022-09-05 08:40] #193 closed, assigned to stephen-cox

[2022-09-05 09:57] stephen-cox commented on #190
Fixed with #191

[2022-09-05 09:57] #190 closed, assigned to stephen-cox

[2022-09-05 12:41] stephen-cox opened #203 "Cache clear required for menus to show up"

[2022-09-06 11:03] #198 closed, assigned to stephen-cox

[2022-09-06 11:03] #199 closed, assigned to stephen-cox

[2022-09-06 11:05] #201 closed, assigned to stephen-cox

[2022-09-07 11:13] #195 closed, assigned to stephen-cox

[2022-09-07 12:16] stephen-cox opened #245 "Breadcrumb on node create form contains link to hidden site content page"
![image](https://user-images.githubusercontent.com/7189914/188875953-f96fe31f-208c-41d8-b2f9-551de3110a46.png)

Clicking 'All entities for Site 1' leads to

![image](https://user-images.githubusercontent.com/7189914/188876241-7957b85e-5a65-4ce5-b505-cc293b89b9ae.png)

[2022-09-07 16:45] msayoung opened #211 "Customise search styling"
Allow some theme overrides (through the UI) to customise the styling of the search

Position: left, middle, right
what else?

Note: we could instead add a couple of code snippets in a child_them_example to show people how to override the styles themselves. As it's a one-off on the site this may be simpler / more flexible

[2022-09-07 16:53] msayoung opened #212 "Allow the page title to be optionally displayed on the homepage"
Todo:

- [x] Provide an option on the theme settings form
- [ ] Make the theme obey!
- [ ] Write a test

[2022-09-07 17:04] msayoung opened #213 "Extend styling options on teasers, call out box, media & text paragraphs"
Set globally (in Site design tab)

For each:
- Background colour
- text colour, size
- heading colour, size
- link style (link or button)

What else?

On a paragraph by paragraph basis
- Choose between Featured/ default styles?  (or more options)
Note: this last will be available on LGD so will need to make sense in that context.

[2022-09-08 08:43] ekes commented on #218
So think this is two topics:
 * Remove the default pathauto. This probably makes sense for all content types. For example events also get /events/name /events/name-0 paths automatically. These are global, not site specific.
 * Creating domain specific automatic paths. For which there was an issue, and hopefully a reminder of why that wasn't working properly.

First one should hopefully be straight

[2022-09-08 10:26] msayoung opened #215 "Update form display options where the banner field is used"
Ensure that no paragraph is selected by default, as it causes confusion about whether it is required or not.

- [x] Promo Directory Page ( https://github.com/localgovdrupal/localgov_directories/pull/223 )
- [x] Event
- [x] News
- [ ] Page https://github.com/localgovdrupal/localgov_page/pull/31

[2022-09-08 10:26] msayoung opened #216 "Add primary banner as an option for the page banner"
- [x] Promo Direcotory Page: https://github.com/localgovdrupal/localgov_directories/pull/230
- [x] Page: https://github.com/localgovdrupal/localgov_page/pull/30
- [x] Event : https://github.com/localgovdrupal/localgov_microsites_group/pull/230
- [x] News: https://github.com/localgovdrupal/localgov_microsites_group/pull/230

[2022-09-08 11:03] #94 closed, assigned to stephen-cox

[2022-09-08 11:03] #203 closed, assigned to stephen-cox

[2022-09-08 12:51] ekes commented on #218
Ah! Well https://github.com/localgovdrupal/localgov_microsites_group/commit/94786f616897631dc64b10b1abedee88b4164f24

[2022-09-08 18:55] ekes commented on #218
So my hunch (mentioned on the commit message https://github.com/localgovdrupal/localgov_microsites_group/commit/94786f616897631dc64b10b1abedee88b4164f24) was correct. Because we re-scan config/optional the paths there keep getting put back.

This means no matter which module is being installed the config gets put back. At the moment the best I can think of for these configurations is to delete the

[2022-09-09 12:27] stephen-cox commented on #218
@ekes  You mentioned at standup some modules have Pathauto config in install, so perhaps we should be consistent and do this for all modules? It will mean adding an explicit dependency on Pathauto, which may not be desirable. Other than that I can't think of a nice solution to this.

[2022-09-09 13:15] ekes commented on #218
I did think about this, but it would mean getting patches into existing LocalGov modules, and then thinking about it I'm not sure I can make a convincing case that it should be in config/install, rather the other way round, it's only where the breadcrumb built from the path and is a requirement that it's not optional really. In fact it is because it's actually optional we want it in install - whic

[2022-09-12 10:48] stephen-cox opened #222 "Enable node preview"
Node preview doesn't currently work with group content: https://www.drupal.org/project/group/issues/2853001

Also see: https://github.com/localgovdrupal/localgov_microsites/issues/190

[2022-09-12 11:55] #217 closed, assigned to ekes

[2022-09-12 15:24] stephen-cox commented on #225
I've written a test for the Microsite creation form. There are already tests for the content and user creation and access. So I'm not sure if writing more tests for this stuff is necessary.

[2022-09-13 09:20] ekes commented on #218
Fixed bug:- https://github.com/localgovdrupal/localgov_microsites_group/pull/219
Additional feature required:- https://github.com/localgovdrupal/localgov_microsites_group/issues/271

[2022-09-13 11:30] finnlewis commented on #218
Ok to set this done @ekes ?

[2022-09-13 12:38] msayoung commented on #60
This did come up again in user testing round 2.

[2022-09-13 13:43] msayoung opened #227 "Add Gin as an option for the Admin theme"

[2022-09-13 13:43] #227 closed, assigned to nobody

[2022-09-13 15:46] msayoung commented on #110
Can this issue be closed now @finnlewis  ?

[2022-09-13 15:57] msayoung opened #228 "Rename page title: Group content menus > Menus"
![Image](https://user-images.githubusercontent.com/3852805/190142980-9038e794-ab60-4d92-aab7-7f313260736d.png)

[2022-09-14 10:00] markconroy opened #235 "Remove default options from site design fields"
We have 1rem and other things set as default values in some of our site design fields. Since these then get inlined in the body element as CSS variables a custom sub-theme cannot override them, as inline takes precedence in the cascade.

[2022-09-14 10:38] msayoung commented on #93
Having re-worked the adding members, i feel this isn't required.
@finnlewis do you agree?

[2022-09-14 10:44] msayoung commented on #187
Closing, duplicate of [#140](https://github.com/localgovdrupal/localgov_microsites/issues/140)

[2022-09-14 10:44] #187 closed, assigned to nobody

[2022-09-14 10:45] finnlewis opened #229 "Group 3.x - estimate the work and timeline"
Just noting this here so we don't forget.

@ekes we're in sprint planning and would like to try group 3.x sooner rather than later.

It sounds like contact forms might work better in 3.x - and other things.

Let's discuss.

[2022-09-14 10:45] msayoung commented on #98
Closing, no longer an issue

[2022-09-14 10:45] #98 closed, assigned to nobody

[2022-09-14 10:47] stephen-cox commented on #229
This is the issue allowing config entities to become group content: https://www.drupal.org/project/group/issues/3292139

[2022-09-14 11:14] finnlewis commented on #245
No idea how to fix this!

hook_breadcrumb_alter() ?

[2022-09-14 11:36] finnlewis opened #261 "Bug: Microsite admin menu gone from "Content""
![Image](https://user-images.githubusercontent.com/3852805/190154256-3d557687-00f2-4008-86b7-8f5be599a7ad.png)

[2022-09-14 11:45] willguv commented on #122
@msayoung let's link to best guidance in sprint 11/12

[2022-09-14 12:34] msayoung commented on #261
Bug introduced as part of this: https://github.com/localgovdrupal/localgov_microsites_group/pull/210

[2022-09-14 13:19] willguv commented on #111
Has anyone seen this issue since? If not, close

[2022-09-14 13:25] willguv commented on #131
@msayoung is this still an issue?

[2022-09-14 13:28] willguv commented on #18
@ekes @finnlewis has some of this been covered already?

[2022-09-14 13:29] willguv commented on #15
@ekes @finnlewis are we doing a wizard now? Feels like this card can go

[2022-09-14 13:29] willguv commented on #12
@msayoung any idea what this is? Thanks

[2022-09-14 13:30] willguv commented on #11
@msayoung @ekes any further work needed here? Thanks

[2022-09-14 13:30] willguv commented on #60
@msayoung should definitely be in sprint 11/12

[2022-09-14 13:32] willguv opened #348 "Restrict permission to edit Media by group"
Currently autheticated users can edit any media on any group. Probably want to restrict this

[2022-09-14 13:32] willguv commented on #348
@msayoung feels like this should be considered for 11/12 although would like to understand size/ complexity

[2022-09-14 13:35] willguv commented on #65
@finnlewis @msayoung can you explain the issue here? Cheers

[2022-09-14 13:39] willguv commented on #110
@msayoung let's park and see what Group 3.x brings

[2022-09-15 15:05] #15 closed, assigned to nobody

[2022-09-15 15:06] #18 closed, assigned to nobody

[2022-09-15 15:07] finnlewis commented on #18
See https://github.com/localgovdrupal/localgov_microsites_group/pull/226 and https://github.com/localgovdrupal/localgov_microsites_group/issues/225

[2022-09-15 15:10] finnlewis commented on #111
I don't think so. Closing for now.

[2022-09-15 15:10] #111 closed, assigned to nobody

[2022-09-16 09:11] markconroy commented on #65
The issue is that the "link" field we are using is actually just a basic text field, not an entity reference type field, so it has nothing dynamic in it that we can hook into to make a look up. Without that, I'm not sure we can solve this without removing the current text field, creating it as an actual link field, then providing an upgrade path to the new field (but this will then mean everyone w

[2022-09-16 09:16] markconroy commented on #122
This will be very tricky since all our colour fields are optional. So the CMS will not know what are the colours set in your theme vs which ones are set in the CMS.

If you have someone who creates a base theme and sets the header background colour to white, then in the CMS sets header font colours to black, we'll report a contrast of 0, since our default heading background is black. We might get

[2022-09-16 09:39] msayoung commented on #122
Can we add something like this I wonder: https://khan.github.io/tota11y/

There is a Drupal module that only does editorial checks https://www.drupal.org/project/editoria11y

[2022-09-16 10:00] markconroy opened #231 "Code in localgov_microsites_page.install file is doing nothing"
I came across this code (sorry, it's my own), but it's doing nothing. Not least because it calls `localgov_events_installed` instead of `localgov_microsites_page_installed`.

All it does is set some config to add `localgov_embed_views` to teh allowed paragraphs types, but on a fresh site install, with this file commented out, we get those views anyway (probably coming from the .info.yml file decla

[2022-09-16 10:08] markconroy commented on #122
@msayoung Does that work with colour contrast issues? And even if so, how is it going to know what colour variables are set in a subtheme? And even if it does, how will it now what variables are set in a subtheme from an admin theme page?

[2022-09-16 12:12] markconroy opened #232 "Add localgov_sa11y to default set up."

[2022-09-16 13:01] willguv commented on #122
I think we should link to guidance, not try anything clever at this stage

[2022-09-16 13:21] msayoung commented on #122
@willguv - @markconroy and I made something cool :)
But we will also link to guidance

[2022-09-16 13:56] markconroy commented on #122
Here's a short video of it working: https://youtu.be/7QXdROSw_44

[2022-09-16 14:08] markconroy commented on #231
Closing. Just realised this was code only on my computer that I hadn't ever committed. Sorry.

[2022-09-16 14:08] #231 closed, assigned to nobody

[2022-09-16 16:28] markconroy opened #234 "Cryptic title, ahoy!"
Should this be removed from localgov_microsites_group.module?

[code]

Or is it still needed?

[2022-09-20 13:04] msayoung commented on #232
Added to profile.
I wonder if there is a way to set the colout contrast checking on ?

[2022-09-22 12:35] markconroy commented on #232
Looks like this might do it for you: https://sa11y.netlify.app/developers/props/#toggleable-rulesets-in-settings-panel

[2022-09-22 12:37] #212 closed, assigned to markconroy

[2022-09-23 13:03] stephen-cox opened #241 "Failing test"
[code]

[2022-09-26 09:25] ekes commented on #229
Upgrading is probably a whole bucket of work, and we depend on other modules in the ecosystem than just Group itself.

The first known-unknown is how complicated re-writing the basic permissions to use the new chained permission provider (and if that then negates the need to do the query alter). I discussed this with the maintainer, and gave an update a couple of weeks back. He seemed to think it

[2022-09-26 09:42] #235 closed, assigned to markconroy

[2022-09-26 10:24] #241 closed, assigned to nobody

[2022-09-26 10:27] stephen-cox commented on #234
Nope shouldn't be needed any more.

[2022-09-26 10:45] msayoung opened #246 "Tidying up the microsite site design fields"
- Put colour pairs in fieldsets to encourage people to set both
- Make sure all colour fields have the colour picker
- Update all help text

[2022-09-26 11:19] stephen-cox commented on #245
It's not east to remove links from a breadcrumb using `hook_system_breadcrumb_alter()`. There is a patch, which is pretty straightforward: https://www.drupal.org/project/drupal/issues/2966004

[2022-09-27 10:50] #218 closed, assigned to ekes

[2022-09-27 11:08] msayoung opened #248 "Change "Member" to "Editor" role globally?"

[2022-09-27 11:31] finnlewis commented on #229
It would be good to list out all the tasks / dependencies that need to be in place for Group 3 to work for us.

Some of this is re-writing our code.
Some is awaiting modules that we depend on to be upgraded for Group 3

Modules we depend on:
 - https://www.drupal.org/project/group
 - https://www.drupal.org/project/group_permissions
 - https://www.drupal.org/project/group_content_menu
 - https://ww

[2022-09-27 11:36] willguv commented on #248
My hunch is council teams understand what editors can do, more than what members can do. We should use terms that are more familiar to them

[2022-09-27 12:01] #62 closed, assigned to nobody

[2022-09-27 12:01] finnlewis commented on #62
Closed as we will deal with this with Layout Paragraphs 2.x

[2022-09-27 12:02] finnlewis commented on #12
Closing as we don't think this is needed. Feel free to re-open @ekes if you feel differently.

[2022-09-27 12:02] #12 closed, assigned to nobody

[2022-09-27 12:03] finnlewis commented on #11
Still a thing @ekes ?

[2022-09-27 13:04] msayoung opened #249 "Setting new homepage (as micro admin) needs cache clear"
When a site admin sets a page to be the homepage it needs a cache clear to show up.
The site admin doesn't have permission to do this themselves, so perhaps the form save should trigger a cache clear?

[2022-09-27 13:07] msayoung opened #250 "Editor cannot delete content (own or others)"
An editor should be able to delete content.
Do we want to restrict this to their own content, or any content?

@finnlewis @willguv thoughts?

[2022-09-27 13:12] msayoung commented on #131
The original issue is fixed, but I've updated the issue. I suggest that the admin tabs _should_ be in the <main>

![Image](https://user-images.githubusercontent.com/3852805/192535742-1c54c243-a352-41f9-96a0-6e344b94b3bd.png)

[2022-09-27 13:13] msayoung commented on #122
@willguv do you think this is now covered with our localgov_sa11y module?

[2022-09-27 13:28] msayoung opened #251 "Allow for coloured background sections (in the paragraph layout sections)"
I started experimenting with this for fun.

I see it working in this way:

On the page_section paragraph type we add another custom field called Colour Scheme (or something). This allows the content editor to pick from a number of Colour scheme options (labelled: Colour scheme 1, colour scheme 2)

We then add a class to the `paragraph--localgov-page-section.html.twig`

If nothing else is done, not

[2022-09-27 13:28] msayoung commented on #251
@markconroy - I wonder if you have any thoughts on the above?

[2022-09-27 13:29] msayoung opened #252 "Disabling News also disables events"
Also a problem with Blogs

[2022-09-27 13:57] msayoung opened #253 "Cookies and analytics - provide a recommended approach for microsites to set up analytics with cookie consent"
[Finn]
At the microsites working group meeting today we raised the question of analytics and of cookie consent.

The notes are here: https://docs.google.com/document/d/1Y63d87PP6gc89m01NjJRUwsLzv5GWxRxDXgRG3-vbM4/edit#heading=h.jjwmpaaflkn

Key points:

1. Croydon will definitely need analytics for each microsites
2. Allowing Google Tag Manager (GTM) for each microsite will allow web managers to i

[2022-09-28 10:47] finnlewis commented on #229
@finnlewis and @ekes to meet and discuss in more detail on Friday and flesh out the potential plan and timescales.

[2022-09-28 10:47] finnlewis commented on #229
@finnlewis and @ekes to meet and discuss in more detail on Friday and flesh out the potential plan and timescales.

[2022-09-28 11:08] msayoung commented on #213
@markconroy - thoughts on this would be welcome

[2022-09-28 11:54] #101 closed, assigned to msayoung

[2022-09-30 14:07] ekes commented on #229
Example of the API change from grequest module being upgraded from 1.x to 2.x group support
https://git.drupalcode.org/project/grequest/-/compare/1.0.x...2.0.x
and ginvite
https://git.drupalcode.org/project/ginvite/-/compare/2.x...3.0.x

[2022-09-30 14:53] finnlewis commented on #229
### https://www.drupal.org/project/group

The 3.x branch is currently in beta. Ekes has played with it. It is nicer for some of the UI that we're not actually using for our users.

See https://www.drupal.org/project/group/releases/3.0.0-beta1  for details of the differences. 3.x and 2.x

Group 3.x is the future! Upgrading from 1.x to 3.x will take work.
 - Upgrading sooner rather than later might

[2022-09-30 16:50] willguv commented on #229
@finnlewis @ekes can I get a walkthrough of all of this early next week, might have to be slow as there’s a lot I don’t get. Feels critical to understand though. Thanks

[2022-10-03 10:03] markconroy commented on #251
I'd definitely like to figure out a way for this to work.

Even if we didn't go with full on colour schemes, I can see that getting tricky to handle with so many potential variables, we could go with perhaps 2 fields

1. Background colour (color picker or select list)
2. Is the background colour dark (boolean)

Then we can have a class to add to the paragraph for the background colour, or an inlin

[2022-10-03 10:06] markconroy commented on #213
I'm not sure how this would work with also allowing background colours on the page section paragraph type. Are we saying that the background colours on the container has no bearing on the background colours of these?

[2022-10-05 11:13] #234 closed, assigned to stephen-cox

[2022-10-05 12:05] msayoung commented on #251
Summarising our chat just now.

We'll add a background colour select list with the following options:

1. none,
2. accent colour,
3. light grey

The accent colour will pick up the `--color-accent` css variable, and we'll create a new `--color-accent-contrast` variable for the text.

lightgrey will set the background colour to a light grey.

We'll apply extra padding if there's a background colour

[2022-10-05 12:58] msayoung opened #255 "Save as unpublished and other options"
Currently our microsite Admins and editors can't save as unpublished.

I'm planning to add https://www.drupal.org/project/override_node_options which will allow Trusted Editors to unpublish.

Do we want to allow editors / admins to
- set revisions
- set authored by

I can do this at the same time

@finnlewis @willgov

(cc @stephen-cox )

[2022-10-05 13:11] markconroy commented on #251
Yes, ma'an, I was!

[2022-10-05 13:16] msayoung opened #256 "Microsite member Dashboard bug"
A non-admin member of a microsite sees the Users heading, without any content. We should probably hide this from them.

![Image](https://user-images.githubusercontent.com/3852805/194069635-dc8d5106-1ade-4d95-ac59-529b1faeb5b6.png)

[2022-10-05 13:23] msayoung commented on #250
@finnlewis - can you confirm that's what we want ^^^

https://github.com/localgovdrupal/localgov_microsites_group/pull/257

[2022-10-05 13:44] #228 closed, assigned to stephen-cox

[2022-10-05 13:52] willguv commented on #250
@msayoung if we're following LGD core, I think editors can delete any content. Many people in a team may have to manage a microsite in this way

[2022-10-05 13:57] finnlewis commented on #250
Yes, sounds right to me.

[2022-10-06 13:31] stephen-cox commented on #245
PR #258 Redirects the content listing page to the node listing page, which is easier than patching core to change the breadcrumb links.

[2022-10-06 13:33] #225 closed, assigned to stephen-cox

[2022-10-06 14:39] finnlewis commented on #255
I don't think the 'authored by' field is terribly useful.
Great to be able to create and review revisions.

[2022-10-06 14:43] finnlewis opened #259 "Allow trusted editors to see and revert revisions."
At the moment it seems that we can't see or revert revisions.

I suggest that:

As a trusted editor
I want to view, revert and delete all revisions
So that I can step back to previous versions of content.

[2022-10-06 14:45] finnlewis commented on #259
@willguv just sense checking with you, but this seems like an obvious omission at present.

[2022-10-06 14:45] finnlewis commented on #255
For revisions, see: https://github.com/localgovdrupal/localgov_microsites_group/issues/259

[2022-10-06 15:21] msayoung commented on #251
Great work so far @markconroy :)

So I have had a look at what happens out of the box with microsites, assuming we set  Accent 1 to our `  --color-accent` and the Accent alt to  `--color-accent-2`

## On Accent 1 background

- Accordion titles remain black, while other text recolours
- Call out box uses a background colour of --color-accent
- There is a text formatting option (Primary) which uses

[2022-10-06 15:32] willguv commented on #259
@finnlewis thanks for the heads up - this seems essential if it's not lots of work

[2022-10-07 12:38] finnlewis commented on #255
Otherwise, if https://www.drupal.org/project/override_node_options  allows Editors and Admins to save as unpublished, that sounds great!

[2022-10-07 14:26] #245 closed, assigned to stephen-cox

[2022-10-10 08:34] msayoung commented on #122
I think we should call this done for now, and if we want to add something else later we can do so

[2022-10-10 08:34] #122 closed, assigned to nobody

[2022-10-10 09:51] markconroy commented on #253
This looks like a really good open source solution for managing cookies, though it doesn't give a list of all cookies being set/blocked/managed which I think is a requirement of GDPR

https://github.com/orestbida/cookieconsent

[2022-10-10 11:07] msayoung commented on #261
https://github.com/localgovdrupal/localgov_microsites_group/pull/262#pullrequestreview-1135841997

[2022-10-10 14:17] #261 closed, assigned to ekes

[2022-10-10 14:31] #176 closed, assigned to nobody

[2022-10-11 08:40] markconroy opened #265 "Images in teasers are massive"
1. Add some news posts into a news room
2. Set the teaser images in the group homepage "Advanced" tab to use one of the image styles (7x3 or 3x2, for example)
3. Go to newsroom node
4. Right click on the image and "Open in new tab"
5. The image is about 4000px wide

[2022-10-11 08:55] msayoung commented on #265
Oh dear.

[2022-10-11 10:10] markconroy opened #267 "Decide on whether to use Claro or Gin as our default admin theme"

[2022-10-11 10:49] finnlewis opened #273 "Select theme override - check permissions for microsite admin"
Microsite admin cannot chose the theme

[2022-10-11 10:51] finnlewis opened #277 "Review order of items in microsite administration menu"
@willguv i think you had an idea about how to better order these items

![Image](https://user-images.githubusercontent.com/3852805/195321314-9941b7bd-1a52-4b16-a8d3-18fb19044eb7.png)

[2022-10-11 11:08] #250 closed, assigned to msayoung

[2022-10-11 11:21] msayoung commented on #255
https://github.com/localgovdrupal/localgov_microsites_group/pull/263

[2022-10-11 11:24] msayoung commented on #213
In the Microsites WG the councils present felt this wasn't a priority right now (though nice to have in the future), given that we now have background colours.

@willguv - may I put this in the Maybe later column?

[2022-10-11 11:26] msayoung commented on #248
In the Microsites WG the councils felt they were comfortable with "Members" as a catch-all term for the Editors and Admins on a Microsite.

@willguv - happy to close this for now, and reopen if we find its a problem later?

[2022-10-12 10:57] finnlewis commented on #267
We can now chose as a microsite admin.

- [ ] Which are we defaulting to for screenshots etc?
- [ ] What do the microsites working group?

Will: thinks Claro, more accesible.
Maria: Claro, more accesible.
Ekes: don't care
Stephen: Claro menu handling annoys the hell out of me! , so Gin
Finn: Gin. Feels nicer.

[2022-10-12 11:14] finnlewis commented on #259
First, let's work out why we can't see revisions at all on the control site.

[2022-10-12 11:15] finnlewis opened #268 "[Meta] group 3.x - start the work"

[2022-10-12 11:31] #248 closed, assigned to nobody

[2022-10-12 11:34] finnlewis commented on #348
We're going to use https://www.drupal.org/project/groupmedia

We need to test this against 3.x, so probably best to wait until the 3.x work is far enough along.

[2022-10-12 11:52] msayoung opened #269 "Review labelling and signposting (final)"
## Additional fields added to content types in Microsites (eg page, events, news, directories etc)

- [x] Review the use of the stand first field.
- [x] Wrap banner and standfirst (if keeping) in fieldset
- [x] Rename "Content" field to "Layouts and Rich content"

## Microsite Site design fields
From ( https://github.com/localgovdrupal/localgov_microsites_group/issues/246 )
- [x] Put colour pairs

[2022-10-12 12:02] msayoung commented on #246
closing this for this one: https://github.com/localgovdrupal/localgov_microsites_group/issues/269

[2022-10-12 12:02] #246 closed, assigned to nobody

[2022-10-12 12:59] msayoung commented on #251
## General

Accent 1: Link colour is currently set to --color-accent (though it can be overridden)

## Accordion

- [x] Accent 1: Accordion titles remain black, while other text recolours
- [ ] Icons need recolouring

## Call out box

- [x] Accent 1: Call out box uses a background colour of --color-accent
- [x] Accent 2 and 3: link text doesn't follow text colour.

## Image with caption

- [x] Acc

[2022-10-12 15:12] willguv commented on #248
@msayoung I'll go with it, but not convinced :)

This came from having a fake editor checkbox to make the editing capability clear. Did we decide anything about that?

Thanks again

[2022-10-13 10:32] markconroy commented on #251
Is there anything you need me to look at here?

[2022-10-13 10:59] msayoung commented on #251
All in here: https://github.com/localgovdrupal/localgov_microsites_base/pull/126 apart from recolouring the icons which we may want to tackle in localgov_base

[2022-10-13 11:10] msayoung commented on #251
Have opened another task to discuss icons https://github.com/localgovdrupal/localgov_microsites_base/issues/129

[2022-10-13 13:21] finnlewis commented on #229
Just a note: @ekes  and I did some further estimation on a spreadsheet here: https://docs.google.com/spreadsheets/d/1lJx_MC_FpwYfKF7y4lZ0ESlYoE2LcH6vslDl-T-t8xI/edit#gid=1537911030

Summary: we are confident that we can get the upgrade to Group 3.x done within two sprints.

[2022-10-14 14:05] stephen-cox commented on #271
@finnlewis @ekes I have evaluated the Domain Path Pathauto and I believe the latest dev version with a couple of patches to fix some bugs will do what we need; at least it fixes the first 2 issues listed above. There's a draft PR with these changes here #272; I still need to write some tests, but some feedback to ensure this is going to work for us would be appreciated.

I still have some question

[2022-10-14 14:19] finnlewis commented on #146
Yes please! This is annoying me :)

[2022-10-14 16:09] stephen-cox commented on #271
Having taken a look at the [domain_group_alias](https://git.drupalcode.org/sandbox/ekes-3278349/-/tree/3.x/modules/domain_group_alias) module, this is for setting aliases on group content, but we're not using group content and when setting paths we're doing this on the node (although they vary by domain).

It provides a UI for setting aliases by content type on the group, but as these are URLs to

[2022-10-17 08:44] msayoung commented on #259
There is a bug with Group and Revisions.
If you add content not associated to a group you can see the Revisions, but not when its group content.

https://www.drupal.org/project/group/issues/3256998

I assume we should leave this til Group 3.x
@finnlewis ?

[2022-10-17 10:06] ekes commented on #271
I had to think too! The `-1` refers to the `string-1` automatic appending of an incrementing number. Guess my idea was replacing conflicts with the domain alias. But I'm not sure.

I've not done anything with this module as of yet - it's very much whatever was in the original domain_group module.

[2022-10-17 12:43] msayoung commented on #273
Debugging this. Currently the permission we need is created at the sitewide level, rather than the group level.

We could assign the controller this permission. But I think we want the microsite admin to be able to set the default theme.

[2022-10-17 13:28] stephen-cox opened #275 "Disable access to /events when events are turned off for a site"
At the moment access to /events depends on whether there are any event nodes.

[2022-10-17 14:26] stephen-cox opened #276 "All content is publically available on the controller site"
All content created on any microsite is available on the controller without needing to login. You can see this by doing a site install,  creating a new site and then going to /node/2 path on the controller site as an anonymous user; E.g. https://demo.microsites.localgovdrupal.org/node/2. This is content that should only appear on the new site.

At a minimum this is an SEO issue (duplicate content

[2022-10-17 14:39] msayoung commented on #276
Good spot @stephen-cox

Am I mistaken but didnt we discuss / solve this in a previous sprint.

I think it's not ideal that a piece of content appears on the controller site domain, so if we could implement one or both of the solutions it would be good.

On option 1. would this also apply when you are logged in as a controller as well?

[2022-10-17 17:39] willguv commented on #277
Sorry for the delay. I don't think I ever settled on an order but it's something like...

Dashboard

Then the content editing items in most used order...

Content
Directory facets
Taxonomies
Menus

Then everything else...

Members
Invitations
Site design
Site settings

Happy to hear other views on this

[2022-10-17 19:05] markconroy commented on #276
I like option 2 - anonymous users can't access content on the controller site.

[2022-10-18 07:52] stephen-cox commented on #276
Having thought about this a little more I think it's worth doing both. I know we're not (currently) supporting the installation of this into a current site, but if someone was to install the localgov_microsites_group module they can in theory start creating microsites, this make me think that we should be blocking access to microsite content on the controller site. There is also no need to have un

[2022-10-18 09:11] ekes commented on #276
I can see use cases where you want to administer the content in one place the control site;
or at least have oversight of the content on all the microsites for quality/spam/whatever control.
I'd guess both use cases would want updating the admin/content pages somewhat. Maybe we'd want to do that no matter if the content from microsites is visible or not.
All this would be require a dedicated contr

[2022-10-18 10:06] msayoung commented on #277
![Image](https://user-images.githubusercontent.com/3852805/196401292-0637a36d-7ba5-4d0e-ab36-7a4499faa0d9.png)

[2022-10-18 10:38] msayoung commented on #277
https://github.com/localgovdrupal/localgov_microsites_group/pull/278

[2022-10-18 11:15] finnlewis commented on #252
note: the code for this might change in Group 3.x, but @ekes is surprised that this is still a big.

[2022-10-19 11:13] finnlewis commented on #259
Aye - let's hold off for now

[2022-10-20 14:04] stephen-cox commented on #252
It looks like blogs, events and news all share some permissions to do with taxonomy terms which is why this is a problem.

I think we'll need to work out how to exclude some permissions from the logic that works out how to switch stuff off.

[2022-10-21 12:28] markconroy opened #282 "Typo in localgov_microsites_group.redirect_subscriver"
Change from
```localgov_microsites_group.redirect_subscriver:```
to
```localgov_microsites_group.redirect_subscriber:```

Then fix up anywhere it is used.

[2022-10-21 16:16] stephen-cox commented on #252
I reworked the logic used to disable modules in https://github.com/localgovdrupal/localgov_microsites_group/commit/45ca3dbd50535e08c06d07d98d22f493a2998e7c

Things how work when testing through the UI, but the GroupPermissionsHelperTest::testToggleModulePermissions() test now fails

[2022-10-24 14:31] #146 closed, assigned to msayoung

[2022-10-24 14:31] #277 closed, assigned to msayoung

[2022-10-24 17:05] msayoung opened #283 "Custom submenu icons no working"
Assuming you have a menu with submenu set up.

Under Site design > Header > Menu > Submenu icon
choose any value.

No icon appears

[2022-10-24 17:09] msayoung opened #284 "Submenu icons not aligned"
the default chevron icon is not aligned , which is particularly obvious when we set a small menu font size

![image](https://user-images.githubusercontent.com/3852805/197585036-0957e5c1-43a6-4cf8-a616-ce3d7331cc22.png)

[2022-10-24 17:19] msayoung opened #285 "Can't set the utility menu size"
I think we need to be able to set the utility menu size.

At present it inherits the base font size, and we can change the main menu size, but have no control over the utility menu

[2022-10-24 17:33] msayoung opened #321 "Order of items in the off-canvas menu"
![Image](https://user-images.githubusercontent.com/3852805/197589415-7248875e-0dae-4b2f-aa4f-42359fb09d53.png)

[2022-10-24 21:12] stephen-cox opened #287 "Failing test MicrositeCachingTest::testSiteSettings"
[code]

[2022-10-24 21:34] stephen-cox commented on #287
[code]

[2022-10-25 07:51] msayoung commented on #283
FYI @markconroy

[2022-10-25 08:05] #287 closed, assigned to nobody

[2022-10-25 08:09] markconroy commented on #283
Oh God! I didn't even know we had that field, never saw it before. 😄

[2022-10-25 08:09] markconroy commented on #283
This is probably an issue for `localgov_microsites_base`

[2022-10-25 08:29] #271 closed, assigned to stephen-cox

[2022-10-25 10:08] #275 closed, assigned to stephen-cox

[2022-10-25 10:35] msayoung commented on #269
- [ ] Update page_section colour labels to be Primary colour and Secondary colour. (instead of Accent

[2022-10-25 11:18] finnlewis commented on #273
See https://github.com/localgovdrupal/localgov_microsites_group/pull/274

[2022-10-25 11:41] #229 closed, assigned to ekes, finnlewis

[2022-10-25 11:43] #255 closed, assigned to finnlewis, msayoung

[2022-10-25 11:43] #251 closed, assigned to markconroy, msayoung

[2022-10-25 11:43] #268 closed, assigned to ekes

[2022-11-02 09:15] ekes opened #360 "ginvite upgrade"
This is largely upgraded, see:
https://git.drupalcode.org/project/ginvite/-/compare/2.x...3.0.x?from_project_id=64219

Might need some tweaking / testing for 3.x, only 2.x at the mo.

Estimated dev time: 1 dev 2 / 3 days

[2022-11-02 09:20] ekes opened #290 "upgrade custom code for Group 3.x compatibility"
Most of our custom code that depends on Group and related APIs is altering forms / labels / UI / behaviours like adding roles. @ekes currently thinks that upgrading might not be a difficult task, just tedious to go through, refactor and test. Some of our automated testing might need updating, but the test coverage should also help to identify things that are broken.

Estimated dev time: 1 dev 1 sp

[2022-11-02 09:48] ekes commented on #360
Oh! It's been released https://www.drupal.org/project/ginvite/issues/3316217

There is still a tweak needed regarding permissions I think. This holds for 2.x and 3.x so I'll look to find that issue.

[2022-11-02 12:10] finnlewis commented on #360
https://www.drupal.org/project/ginvite/releases/4.0.0-alpha1

- [ ] Follow up on fine grained permissions with maintainer.

[2022-11-02 12:33] finnlewis commented on #348
- [x] Test this in current form, start new branch
- [ ] Liaise with maintainer to push towards a release

[2022-11-02 12:39] msayoung opened #291 "Can't delete menu items (Site admin)"
A microsite admin can't delete menu items

[2022-11-08 11:08] ekes commented on #360
https://www.drupal.org/project/ginvite/issues/3316135

[2022-11-14 10:40] finnlewis opened #292 "Gorup 3.x error when creating a microsite"
[code]

[2022-11-14 11:01] finnlewis opened #293 "Group 3.x SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax"
After attempting to create a microsite, when visiting https://localgov-micro.lndo.site/admin/microsites I get the following:

[code]

[2022-11-14 11:16] ekes opened #294 "[3.x] Duplicate content in listing"
Goup 3.x seems to display duplicate listings of existing group content nodes.

Fresh install, one default node, shows this at https://localgov-micro-1.lndo.site/group/1/nodes

![image](https://user-images.githubusercontent.com/326588/201883207-7ff41864-11db-42ba-81d9-b795dcc6cfca.png)

But all link to the same node.

Known issue, see:

https://www.drupal.org/project/group/issues/3315779

[2022-11-14 11:45] ekes commented on #292
Whole bunch of these seem to probably be based on group content. Here I'm guessing the menus that we add to a group. There a whole set of similar errors. So hitting the content / relationship defaults that we are importing.

[2022-11-14 12:42] ekes commented on #292
Yep. Biggest change that we need to follow is all the relations have different id's now. What was something like group_relationship_type_97ac2c28 becomes microsite-97a97ac2c28c2c28 or the like. The ID is recalculated when it's needed based on the name by GroupRelationshipTypeStorage::getRelationshipTypeId https://git.drupalcode.org/project/group/-/blob/06dd9fa5cf4f5bb86f6a7e301db7c2739963fb59/src/

[2022-11-14 16:21] ekes commented on #292
Should be fixed now.

[2022-11-14 16:21] #292 closed, assigned to nobody

[2022-11-14 16:21] ekes commented on #293
So I didn't replicate this, but am assuming it's fixed?

[2022-11-14 16:24] ekes opened #295 "[3.x] Group 'Content Page' Error: add content local action causing fatal error"
Symfony\Component\Routing\Exception\RouteNotFoundException: Route "entity.group_relationship.group_node_add_page" does not exist. in Drupal\Core\Routing\RouteProvider->getRouteByName() (line 206 of core/lib/Drupal/Core/Routing/RouteProvider.php).

Caused by the local action added https://github.com/localgovdrupal/localgov_microsites_group/blob/feature/group-3.x/localgov_microsites_group.module#L11

[2022-11-14 16:25] ekes opened #296 "[3.x] Group Permissions page"
Needs re-doing.

[2022-11-14 17:02] ekes commented on #295
Found it https://git.drupalcode.org/sandbox/ekes-3319987/-/commit/af43bc5084c26259668e8e76e61177cd653d7360

[2022-11-14 17:02] #295 closed, assigned to ekes

[2022-11-15 09:25] finnlewis commented on #293
Yes. Fixed! Thanks @ekes

[2022-11-15 09:25] #293 closed, assigned to ekes

[2022-11-15 09:26] finnlewis opened #297 "[3.x] Error: Call to undefined method Drupal\group_permissions\GroupPermissionsManager::getGroupRoles()"
Fresh install just now.

Creating a microiste works and I can click around, but when I get to:

https://localgov-micro.lndo.site/group/1/domain-settings

I get this:

[code]

[2022-11-15 09:28] finnlewis opened #298 "[3.x] Update how 'create content' page (and others menu, directory facets)"
Fresh install.
Created one microsite.
Visit : https://localgov-micro.lndo.site/group/1/node/add

[code]

[2022-11-15 09:41] ekes commented on #297
Think that whole page needs redoing so closing in preference to the general task https://github.com/localgovdrupal/localgov_microsites_group/issues/296

[2022-11-15 09:41] #297 closed, assigned to ekes

[2022-11-15 09:56] finnlewis commented on #294
@ekes Have you tested the patch on https://www.drupal.org/project/group/issues/3315779 ?

https://www.drupal.org/files/issues/2022-10-28/group_module_member_3315779_9.patch

[2022-11-15 10:03] ekes commented on #294
Nope. Was leaving it to see if there was some feedback on the solution before spending some time. But applying it in the interim is also good.

[2022-11-15 10:04] finnlewis commented on #294
OK - will give it a try

[2022-11-15 10:10] finnlewis commented on #294
Patch seems to help!

https://github.com/localgovdrupal/localgov_microsites_group/commit/560fc9fc34bee1c62fb12ad0b891d8f8130eba2e

![image](https://user-images.githubusercontent.com/326588/201892269-451b1b79-66f8-4000-a768-3acff29d155a.png)

[2022-11-15 10:10] #294 closed, assigned to nobody

[2022-11-15 10:11] finnlewis opened #299 "[3.x]"
Fresh install.
Visit https://localgov-micro-1.lndo.site/welcome-your-new-site
See this warning:

This might be for localgov_microsites_base, but logging here for now.

[code]

[2022-11-15 10:22] finnlewis opened #300 "[3.x] Missing add new content button"
Fresh install.
Create new microsite.
Create admin1 user and assign to microsite as an admin.
Log into microsite 1 as admin1
Go to https://localgov-micro-1.lndo.site/group/1/nodes

Can see 'add existing content' but not 'add new content'

![image](https://user-images.githubusercontent.com/326588/201894341-b89c4b4b-04b9-47bd-b276-8a64873c1633.png)

[2022-11-15 10:25] ekes commented on #299
[code]
Given it's actually checking - but not safely - I think it's just a question of require `isset` or `empty` as appropriate.

[2022-11-15 11:25] finnlewis opened #301 "[3.x] Error: Call to undefined method Drupal\localgov_microsites_group\Entity\MicrositeGroup::getContentByEntityId() in localgov_microsites_group_term_ui_form_alter()"
At https://localgov-micro-1.lndo.site/group/1/taxonomy/localgov_topic/add

[code]

[2022-11-15 11:29] finnlewis opened #302 "[3.x] Imported permissions not working"
Seems to need a cache clear to bump the microsite home page into place.

[2022-11-15 11:44] finnlewis commented on #252
This will need re-writing for Group 3.x :)

[2022-11-15 11:47] finnlewis commented on #348
Seems to mostly work with vanilla install, but some bugs with content editing on Group3.x  limited ability to test.

Now that we have the microsites profile installing we need to test group media with our profile.

[2022-11-15 11:49] finnlewis commented on #291
I think this is now fixed in Group 3.x

[2022-11-15 11:49] #291 closed, assigned to msayoung

[2022-11-15 17:00] finnlewis commented on #302
@ekes This actually seems to be a permissions issue.

I can see the page logged in but not logged out.

[2022-11-15 17:03] finnlewis commented on #302
In the watchdog log I see:

Path: /. Drupal\Core\Http\Exception\CacheableAccessDeniedHttpException: in Drupal\Core\Routing\AccessAwareRouter->checkAccess() (line 118 of /app/web/core/lib/Drupal/Core/Routing/AccessAwareRouter.php).

Is there a quick way to identify what is denying access? Something akin to Devel node access https://www.drupal.org/project/devel_node_access?

[2022-11-16 11:53] ekes commented on #298
/group/1/node/add

Again has a list like:-

Group node (Blog channel)
    Add existing content item of type Blog channel to the group.

This was being altered, but breaks with 3.x the above commit [c324a5a](https://github.com/localgovdrupal/localgov_microsites_group/commit/c324a5ad1145bd2e5e3550c919247961c761a39f) stops it breaking but doesn't fix the change.

Making the present code work again is

[2022-11-16 13:57] ekes commented on #302
Imported permissions issue https://www.drupal.org/project/group/issues/3311949#comment-14788688

[2022-11-16 15:17] ekes commented on #302
Might actually be fixed now.

[2022-11-16 15:18] ekes commented on #300
Should be fixed.

[2022-11-16 15:18] #300 closed, assigned to ekes

[2022-11-16 16:34] ekes commented on #296
It's working for some reasonable value of working. Tests need updating.

[2022-11-16 16:35] ekes commented on #301
Think this is fixed.

[2022-11-16 16:57] ekes opened #303 "[3.x] Errors when creating new nodes of particular types in group"

[2022-11-16 17:53] ekes commented on #303
Looks like these might be different issues:-

## Blog post

[code]

## Event

[code]

[2022-11-16 17:54] ekes commented on #296
Meh. No it's not quite there.

[2022-11-17 10:36] finnlewis opened #304 "[3.x] Microsite groups not listed at /admin/microsites"
Hey @ekes

Just did a fresh install, created a microsite and I can't see it in the list of microsites.

![image](https://user-images.githubusercontent.com/326588/202424089-38beaf7e-fab5-49fb-a362-8decaea5cd77.png)

I do see it at https://localgov-micro-1.lndo.site/ though.

[2022-11-17 11:01] ekes opened #305 "[3.x] Permissions microsites controller"
Do we need a new set of permissions for Outside with Role Microsites controller?

[2022-11-17 13:19] finnlewis commented on #304
Interestingly, I can get to the group config at https://localgov-micro.lndo.site/group/1/

But no microsites listed at https://localgov-micro.lndo.site/admin/microsites
And no groups listed at https://localgov-micro.lndo.site/admin/group

[2022-11-17 13:24] finnlewis commented on #301
Yes, fixed!

[2022-11-17 13:24] #301 closed, assigned to nobody

[2022-11-17 13:27] finnlewis opened #306 "[3.x] No content types available at /group/1/node/create"
1. Create microsite 1.
2. Create admin1 user, assign to microsite as a admin role.
3. Log into microsite 1 as admin1
4. Visit: https://localgov-micro-1.lndo.site/group/1/node/create

No links to add content:

![image](https://user-images.githubusercontent.com/326588/202458530-6561a387-0b2b-443b-8a6d-c6f4745dc080.png)

[2022-11-17 13:42] ekes commented on #306
Think this is fixed in group. Can you checkout the head of the 3.x branch. So 3.x-dev of group module.

[2022-11-17 13:44] ekes commented on #304
Yer you've got view permissions. The two things that have changed are:
 * group permissions was installed
 * the admin role is no longer a _real_ admin role and just has permissions

So things to test: add all permissions to the admin role, is it that? Does the list work again then?
If not try uninstalling group permissions (somehow).

[2022-11-17 14:15] finnlewis commented on #306
Yay! Latest from https://git.drupalcode.org/project/group does indeed resolve this! Thanks @ekes !

[2022-11-17 14:15] #306 closed, assigned to nobody

[2022-11-17 14:39] ekes commented on #303
Got 'em.

[2022-11-17 14:39] #303 closed, assigned to ekes

[2022-11-17 14:42] finnlewis commented on #348
OK - now that I have a fresh localgov_microsites install working with content creation, I've tested again.

This workflow appears to be working:

1. enable group media module
2. enable "Group media (Image)" plugin at https://localgov-micro.lndo.site/admin/group/types/manage/microsite/content
3. grant permissions for admin to do all the group media things at https://localgov-micro.lndo.site/admin/g

[2022-11-17 14:43] ekes commented on #304
Yep. It's a permission.

Now. The only users that should see this list are controller's right? In which case I'm closing it in favour of the task that will fix it https://github.com/localgovdrupal/localgov_microsites_group/issues/305

[2022-11-17 14:43] #304 closed, assigned to ekes

[2022-11-17 14:43] ekes commented on #305
Yes says #304

[2022-11-17 15:25] finnlewis opened #307 "[3.x] responsive preview error on fresh install"
https://localgov-micro.lndo.site/group/1/content/create/group_node%3Alocalgov_page

[code]

[2022-11-17 15:30] finnlewis opened #308 "[3.x] Group term - get new branch released on Drupal.org"
Need to get a release on https://www.drupal.org/project/group_term

[2022-11-17 15:32] finnlewis opened #309 "[3.x] Group content menu - get a release on drupal.org"
See https://www.drupal.org/project/group_content_menu/issues/3315163

[2022-11-17 15:34] finnlewis opened #310 "[3.x] Domain Group - get a release on drupal.org"
https://www.drupal.org/project/domain_group/issues/3319678#comment-14776257

[2022-11-17 15:38] finnlewis opened #311 "Create 2.x (or 3.x) branch for localgov_microsites_project and all dependencies."

[2022-11-17 15:44] finnlewis commented on #252
Closing this in favour of
https://github.com/localgovdrupal/localgov_microsites/issues/304
and

[2022-11-17 15:45] finnlewis commented on #296
This is specifically for our page with the enable / disable content types in our microsite admin form.

Also see https://github.com/localgovdrupal/localgov_microsites_group/issues/296

[2022-11-17 15:46] finnlewis commented on #360
Ready to test

[2022-11-17 15:47] finnlewis commented on #290
Closing this in favour of individual bugs

[2022-11-17 15:47] #290 closed, assigned to ekes

[2022-11-17 15:52] finnlewis commented on #298
For example, the add content page currently looks like this:

![Image](https://user-images.githubusercontent.com/326588/202493381-bce49a87-3ee8-4494-8a01-a7e372d54deb.png)

We really want this to read like the default add content page:

![Image](https://user-images.githubusercontent.com/326588/202493594-da640ba0-9f77-4acf-9c5f-979329176277.png)

But also add (content type) to the end of the descri

[2022-11-17 15:56] finnlewis opened #312 "[3.x] Create demo sites from the Group 3.x branch"
Wait for the new branches to be created by @ekes

Then:

- [x] @msayoung will grab a backup of https://demo.microsites.localgovdrupal.org/
- [x] Reinstall the demo sites
- [x] Start manually recreating the sites with content and config

[2022-11-17 16:05] finnlewis commented on #305
The microsites controller has no special permissions at the moment.

@ekes is adding 2 new group roles, outsider and insider for microsites controller, and these are group admins.

[2022-11-17 16:08] finnlewis commented on #307
@ekes suggests doing fresh installs with: drush si localgov_microsites with verbose debug output.

[2022-11-17 16:15] finnlewis commented on #276
Probably wants testing again against Group 3.x

[2022-11-17 16:19] finnlewis commented on #259
Ready to test against Group 3.x

[2022-11-17 16:30] finnlewis opened #333 "Latest news block shows not latest"
@msayoung will confirm what's needed

[2022-11-17 16:53] finnlewis opened #313 "[3.x] bug Deprecated function: htmlspecialchars():"

[2022-11-18 15:34] msayoung opened #314 "Bug: Microsite admin - cannot manage menus"
As a (not user 1) user who is a microsite admin I cannot edit menus

[2022-11-18 15:37] msayoung commented on #314
Also we have the ADD MENU link available, though you can't add a menu.

![Image](https://user-images.githubusercontent.com/3852805/202742495-290d2a5a-4986-42c6-8f1f-44ff67f992e1.png)

[2022-11-18 15:41] ekes commented on #314
If you can edit it as a Microsite Controller then it's just a permissions assigned to microsite admin issue. So can be fixed by finding the permission and adding it to the config in the module.
If you can't do it as Microsite Controller, then... we're in code.

[2022-11-18 15:43] msayoung opened #315 "[3.x] Bug: Add new content list is wrong / unavailable"
As a microsite admin I can't add new content.

As a microsite controller I can, although the list of content is wrong.

[2022-11-18 15:44] msayoung commented on #315
![Image](https://user-images.githubusercontent.com/3852805/202744252-c5aa3ce8-3cde-4a8b-a52e-33e5d8efd91d.png)

[2022-11-18 15:44] msayoung opened #317 "[3.x] Bug: As Microsite admin can't create a new taxonomy term"
As a microsite admin, add a new Blog author > Save

The website encountered an unexpected error. Please try again later.
Error: Call to undefined method Drupal\group\Entity\GroupType::hasContentPlugin() in localgov_microsites_group_term_ui_entity_insert() (line 47 of modules/contrib/localgov_microsites_group/modules/localgov_microsites_group_term_ui/localgov_microsites_group_term_ui.module)

The s

[2022-11-18 15:45] msayoung commented on #317
Also true for a Controller

[2022-11-18 15:49] msayoung commented on #314
As a Microsite Controller I can edit and add a menu item, although when I save an edited menu item I have an access denied messgae

[2022-11-18 15:51] msayoung opened #316 "Bug: adding a new facet term"
As a Microsite Controller I _can_ add a facet type, but when I save a new facet term I get the following message:

The website encountered an unexpected error. Please try again later.
Error: Call to undefined method Drupal\group\Entity\GroupType::hasContentPlugin() in localgov_microsites_directories_entity_insert() (line 29 of modules/contrib/localgov_microsites_group/modules/localgov_microsites_d

[2022-11-18 16:02] ekes commented on #315
What do you see as admin? Because I see that list, at least with my present install.

Also what's wrong with it except the already discussed issue https://github.com/localgovdrupal/localgov_microsites_group/issues/298

[2022-11-18 16:10] msayoung commented on #315
![Image](https://user-images.githubusercontent.com/3852805/202749958-dff38be4-6e59-4f02-a9d6-58dcf3db875a.png)

[2022-11-18 16:14] #316 closed, assigned to ekes

[2022-11-18 16:15] msayoung commented on #315
So I guess it'll be resolved when the other issue is.
 I realise I can actually create new content if I can remember the correct path to do so just can't see the links from the Content tab

[2022-11-18 16:17] ekes commented on #315
Have you got the dev version of group module. It (the missing list) looks like an issue we were discussing that's fixed there.

[2022-11-18 16:20] ekes commented on #317
Think this is already fixed if you pull localgov_microsites_group

[2022-11-18 16:30] msayoung commented on #317
I can add terms with no issue except for Blog authors.
When I save the term I get

The website encountered an unexpected error. Please try again later.
Error: Class "Drupal\group\Entity\GroupContent" not found in group_term_tokens() (line 51 of modules/contrib/group_term/group_term.tokens.inc).
group_term_tokens('term', Array, Array, Array, Object)
call_user_func_array(Object, Array) (Line: 426)
D

[2022-11-18 16:31] msayoung commented on #317
Seems to be an issue with the pathauto pattern ?
If I delete the pattern then the terms save with no errors

[2022-11-18 16:44] ekes commented on #317
I've pushed a change to group_term assuming you've got the repo https://git.drupalcode.org/issue/group_term-3316529 branch 3316529-group-3.x-compatibility which is what the lastest composer is set to.

[2022-11-18 16:56] msayoung commented on #317
I'm afraid I'm still seeing the same, and I'm pretty certain I got the most recent commits

![image](https://user-images.githubusercontent.com/3852805/202759461-c815d3e9-dc88-47e0-bcc0-50687d620f8a.png)

[2022-11-21 12:47] msayoung commented on #314
@ekes this one is still an issue

1. Controller. Can add and edit menu items but on save (after an edit) we see Access Denied
2. Controller and Microsite Admin sees Add new menu link
3. Microsite admin cannot edit menus

[2022-11-21 12:51] msayoung commented on #315
Tested again. The problem is the add new content list.
For controllers the list is wrong
For microsite admin and microsite editor the list is missing.

[2022-11-21 12:52] msayoung opened #335 "Bug: responsive preview"
The responsive preview button doesn't seem to work when we're on the edit page
It also doesn't pick up the page background colour

[2022-11-21 12:54] msayoung commented on #316
I'm still seeing this error @ekes

[2022-11-21 13:06] finnlewis commented on #317
I just did a fresh install.

1. Add 2 microsites.
2. Add two users, admin1, admin2 and assign as admin to the microsites.
3. Log in as admin1 to microsite1.
4. Got o https://localgov-micro-1.lndo.site/group/1/taxonomy/localgov_blog_author/add
5. I can create blog authors.
6. BUT I do not see them listed at https://localgov-micro-1.lndo.site/group/1/taxonomy/localgov_blog_author

8. I then go to ht

[2022-11-21 13:10] finnlewis opened #319 "[3.x] Empty listing of taxonomy terms on microsite"
I just did a fresh install.

1. Add 2 microsites.
2. Add two users, admin1, admin2 and assign as admin to the microsites.
3. Log in as admin1 to microsite1.
4. Got o https://localgov-micro-1.lndo.site/group/1/taxonomy/localgov_blog_author/add
5. I can create blog authors.
6. BUT I do not see them listed at https://localgov-micro-1.lndo.site/group/1/taxonomy/localgov_blog_author

8. I then go to ht

[2022-11-21 13:11] finnlewis commented on #317
Closing in favour of: https://github.com/localgovdrupal/localgov_microsites_group/issues/319

[2022-11-21 13:11] #317 closed, assigned to ekes

[2022-11-21 13:12] msayoung commented on #317
confirming the original error has gone on a fresh install

[2022-11-21 13:14] msayoung commented on #315
This is now fixed on a fresh install - thanks :)

[2022-11-21 13:14] #315 closed, assigned to ekes

[2022-11-21 13:15] finnlewis commented on #319
Discussing with @ekes  and @msayoung - this seems to be a permissions issue.

If I then give the admin1 user the **Microsite controller** role, admin1 can see the terms on microsite 1.

I will investigate the permissions

[2022-11-21 14:07] msayoung commented on #259
@finnlewis this is now working with Group 3.x however, we dont have access to the Revision log field.

Looks like this is being worked on here: https://www.drupal.org/project/drupal/issues/2959611

How urgent is this, do you think?

[2022-11-21 14:43] ekes commented on #314
So [f057faf](https://github.com/localgovdrupal/localgov_microsites_group/commit/f057fafcfac5ee5289567f07c0de17dec4664d3a) should fix this. Requires reinstall, or importing the updated permissions for member and admin.

[2022-11-21 14:45] ekes commented on #319
https://localgov-micro.lndo.site/admin/structure/views/view/group_nodes/edit/microsite_page is built on the Node (Content) table
https://localgov-micro.lndo.site/admin/structure/views/view/lgms_group_taxonomy_terms/edit/page is built on the Group Relationship table.

So the relationship permission is kicking in on the later. We don't really want to expose the relationship to end users. So it would

[2022-11-21 14:46] ekes commented on #305
This is fixed We have two new roles that are already being used extensively when we're checking if it's really a permissions problem. So I'd say done.

[2022-11-21 14:46] #305 closed, assigned to ekes

[2022-11-21 14:48] ekes commented on #302
This has been moved to done, but not closed. Seeing it's not been highlighted in the last 5 days I'm assuming fixed.

[2022-11-21 14:48] #302 closed, assigned to nobody

[2022-11-21 14:51] msayoung opened #324 "Some Embddedable views not installing"
The lgms_embed_view_events and lgms_embed_view_news views are not installing.

lgms_embed_view_blogs is installing fine.

_might_ be the     - group.relationship_type.group_relationship_type_5a3c3717 dependency ?

[2022-11-21 15:07] msayoung commented on #314
@ekes thanks

As a microsite admin I can now add menu items and edit them.

However

- I still see the "add new menu" button (which I think I shouldnt)
- Also, when I edit a menu item and save I get an access denied message

[2022-11-21 15:55] msayoung opened #326 "URL Alias field makes entity form Unserializable -- causes AJAX (eg. Media Library) to fail"
As a microsite controller  or a microsite admin I can't add media items to the Image field on events or news.

I also can't add banner paragraph types.

I can add media items to an image paragraph and to taxonomy terms.

[2022-11-21 16:04] ekes commented on #314
Fix for that on its way - another permission

This one I can't reproduce. You are getting to the 'edit' I understand from that, just after saving you get denied error?
Testing I'm on
https://localgov-micro.lndo.site/admin/structure/menu/item/1/edit
and I save it. I'm still on
https://localgov-micro.lndo.site/admin/structure/menu/item/1/edit
but with the banner message telling me it's been saved.
W

[2022-11-21 16:18] msayoung commented on #324
currently blocked on testing https://github.com/localgovdrupal/localgov_microsites_group/pull/325 as I can't create the items needed to test because of #326

[2022-11-21 16:21] msayoung commented on #326
Hmm. I can't add media items to Taxonomy terms either. But in that case the Media modal does open, whereas in the others it does not

[2022-11-21 16:38] ekes commented on #326
[code]

[2022-11-21 16:41] ekes commented on #326
removing autosave from the complexity
[code]

[2022-11-21 16:42] ekes commented on #326
Think this needs testing with a vanilla install, and working out what it is - maybe something from group - that's not serializing.

[2022-11-21 16:45] ekes commented on #326
Is this an issue for paragraphs more generally?

[2022-11-21 16:48] msayoung commented on #326
Its not a problem with the paragraphs in the paragraphs layout.

[2022-11-21 17:08] ekes commented on #326
Nope. Built up with media, media library, paragraphs, layout paragraphs no error. It'll be something in localgov at a bash then...

[2022-11-21 19:37] ekes commented on #326
It's something to do with the URL alias field. Disable it from the form for now and you can continue working.

Somewhere tucked away in that URL alias field is what is probably a database connection object which is causing it to be unserializable. I think this probably has nothing to do with the group 3.x upgrade and is just to do with that.

[2022-11-21 22:56] finnlewis commented on #319
This should fix the taxonomy terms view listing:
https://github.com/localgovdrupal/localgov_microsites_group/pull/327

[2022-11-21 23:50] #321 closed, assigned to msayoung

[2022-11-22 09:12] ekes commented on #298
PR to fix https://github.com/localgovdrupal/localgov_microsites_group/pull/318

[2022-11-22 09:12] #298 closed, assigned to ekes

[2022-11-22 09:14] ekes commented on #324
Can you remove the URL field from the form for now to be able to save content and test this?

[2022-11-22 09:37] finnlewis opened #329 "[3.x] Tests failing with ParseError: syntax error, unexpected 'protected' (T_PROTECTED), expecting variable (T_VARIABLE)"
[code]

See https://github.com/localgovdrupal/localgov_microsites_group/actions/runs/3519053957/jobs/5898612691#step:5:21

[2022-11-22 09:37] finnlewis opened #330 "[3.x] Tests failing: views.view.group_terms:display.default.display_options.relationships.gc__taxonomy_term.group_relationship_plugins missing schema"
[code]

[2022-11-22 10:04] ekes commented on #326
Specifically domain_path_pathauto Disabling just this and not the whole URL alias field also removes the error on AJAX

Even more specifically it's because it is adding ::validate and ::submit to the form with the _instantiated_ service DomainPathAutoHelper (so not static methods), service then include some services that have the database connection.

Throwing good money after bad. I think my opin

[2022-11-22 10:07] #324 closed, assigned to nobody

[2022-11-22 10:27] finnlewis commented on #329
This looks like it is only an issue for PHP 7.4.

As PHP 7.4 is officially EOL in 5 days, I suggest we ignore it!

And maybe we should stop testing against 7.4 and officially drop support for it, in Microsites at least.

[2022-11-22 10:46] msayoung commented on #314
Great! No "Add new menu link"

@finnlewis  is creating a new issue for the access denied thing

[2022-11-22 10:46] #314 closed, assigned to ekes

[2022-11-22 10:47] finnlewis opened #332 "[3.x] Edit menu link redirects to access denied / sitewide menu route"
As microsite 1 admin

1. log into microsite 1
2. add menu link
3. save
4. Get redirected to /group/1/menu/2/edit
5. edit same menu link
6. save
7. Get redirected to /admin/structure/menu/item/4/edit
8. See access denied

[2022-11-22 10:47] finnlewis commented on #314
See https://github.com/localgovdrupal/localgov_microsites_group/issues/332

[2022-11-22 10:48] finnlewis commented on #311
This is done! Thanks @ekes

See https://github.com/localgovdrupal/localgov_microsites_project

[2022-11-22 10:48] #311 closed, assigned to ekes

[2022-11-22 10:55] msayoung commented on #333
The latests news embed block was ordered by author date rather than news date.

[2022-11-22 11:02] msayoung commented on #335
For now, we are going to remove responsive_preview as its causing problems and not working.
We'll put an issue to bring it back in the backlog

[2022-11-22 11:10] ekes commented on #326
:adhesive_bandage: https://raw.githubusercontent.com/localgovdrupal/localgov_microsites/4cbdbe6ae3c3e95e7d2ed15d918c66805ad8e7f1/patches/localgov_microsites_group_326.domain_path_pathauto.unserializable.patch

[2022-11-22 11:30] ekes commented on #326
Added to https://github.com/localgovdrupal/localgov_microsites/blob/2.x/composer.json#L51 so on a composer update it should re-patch domain_path with the two patches now.

This should solve the issue of the media library, and other AJAX callbacks, not working.
[It probably does not fix the issue https://github.com/localgovdrupal/localgov_microsites_group/issues/348 if group_media is installed, tha

[2022-11-22 12:44] finnlewis commented on #310
Maybe ask to take over maintainership on this one.

[2022-11-22 12:47] finnlewis commented on #259
Not too worried about the log field for now. Let's make sure revisions work and we can come back to the revision log field if/when needed.

[2022-11-22 12:58] finnlewis commented on #332
@ekes I started debugging and looking for hooks that add redirects, but not found anything yet. Any inside knowledge?

[2022-11-22 13:12] ekes commented on #332
Confirm the add link includes a `?destination=` on the URL, the delete link does too, but the edit link does not have a `?destination=` added, so no override on the default from the entity configuration.

[2022-11-22 13:19] ekes commented on #332
Think this might require understanding why it chooses _not_ to add the destination
https://git.drupalcode.org/issue/group_content_menu-3315163/-/blob/3.x/src/Form/GroupContentMenuForm.php#L287
but to add it https://git.drupalcode.org/issue/group_content_menu-3315163/-/blob/3.x/src/Form/GroupContentMenuForm.php#L306

What's the difference between the two in the if {} else {}? Why?
This is my branch

[2022-11-23 12:11] #326 closed, assigned to msayoung

[2022-11-23 12:11] msayoung commented on #326
seems to be working

[2022-11-23 12:12] msayoung commented on #307
i removed it for now, issue in the backlog to bring it back if needed

[2022-11-23 12:12] #307 closed, assigned to nobody

[2022-11-23 12:13] #259 closed, assigned to msayoung

[2022-11-23 14:11] msayoung opened #338 "Domain path aliases no saving"
I have two /services on two different microsites

The second one defaults to /services-0 but I can't override it.

![Image](https://user-images.githubusercontent.com/3852805/203567867-5064861b-8ec5-44d3-aedc-a11f87735ff3.png)

![Image](https://user-images.githubusercontent.com/3852805/203567734-a95a5826-24e3-48ca-9d58-5dcc1e100a45.png)

[2022-11-23 14:20] msayoung commented on #333
Seems to be correct now

[2022-11-23 14:20] #333 closed, assigned to msayoung

[2022-11-23 14:23] msayoung commented on #360
Ok.

Invite members sends out the invitations - great
The email contains a link to create an account - great
The following email contains a link to log in - great
The link to accept the invitation takes you to the right place, but there are no invitations to accept - BOO

![Image](https://user-images.githubusercontent.com/3852805/203570633-6fd65473-6cd6-48ac-aba0-8514f57fb0d8.png)

[2022-11-23 14:38] msayoung opened #339 "Site name under Default items doesn't update to reflect Site settings"
Two fields which dont update eachother:

![Image](https://user-images.githubusercontent.com/3852805/197760352-bcfb53a0-af75-4ba7-810f-7d1afd9dd5b7.png)

![Image](https://user-images.githubusercontent.com/3852805/197760432-ac68f44e-0bda-4f49-83f5-6014feb29d20.png)

[2022-11-23 14:38] msayoung commented on #339
One of them updates the _proper_ site name, ie: the page title. The other doesn't

[2022-11-23 14:40] msayoung opened #340 "Bug: default news teaser doesn't use one of the crops."
Our teasers for news _can_ use the sitewide teaser image style, but if this isn't chosen it doesn't respect any of the crop settings.

[2022-11-23 14:44] msayoung commented on #338
I understood that we _could_ override this.
@finnlewis maybe you recall?

[2022-11-23 14:44] msayoung opened #341 "Directory Promo Page doesn't have a default URL alias"
I _thought_ these were already set up, but perhaps they fell off the list.

It is set up for Directory Venues: https://site3.demo.microsites.localgovdrupal.org/services-0/ability-superstore

but not for Directory Promo Pages : https://site3.demo.microsites.localgovdrupal.org/node/28

[2022-11-24 10:15] msayoung opened #342 "Remove "Group node""
![Image](https://user-images.githubusercontent.com/3852805/203758139-31baea22-7f9a-48bc-b875-402678b73fda.png)

Remove the "Group node" on the add content page

[2022-11-28 16:46] msayoung opened #345 "Bug; can see all taxonomy terms listed under each taxonomy vocab"
Add a blog author term
Add a caterogy term

Visit a list of all blog author terms, see the category term there too

[2022-11-28 17:27] msayoung commented on #269
https://github.com/localgovdrupal/localgov_microsites_group/pull/346

[2022-11-28 17:34] msayoung commented on #131
this is how things work in claro, i'm going to close this and reopen there if we feel strongly about it, which I'm not sure I do.

[2022-11-28 17:34] #131 closed, assigned to msayoung

[2022-11-30 16:34] stephen-cox opened #350 "Masses of test failures"
[code]

[2022-11-30 16:35] stephen-cox commented on #330
This is an issue with the Group Term module: https://www.drupal.org/project/group_term/issues/3316529#comment-14807326

[2022-11-30 16:36] stephen-cox commented on #330
Unfortunately, fixing this just leads to more issues with the tests.

[2022-11-30 17:14] stephen-cox commented on #350
Started to fix tests with #351

Some 3rd contrib issues:

- https://www.drupal.org/project/ginvite/issues/3324625#comment-14807582
- https://www.drupal.org/project/group_term/issues/3316529#comment-14807326